.description-xs {
  font-size: var(--font-size-12);
}

.description-sm {
    font-size: var(--font-size-14);
  }
  
  .description-md {
    font-size: var(--font-size-16);
  }
  
  .description-lg {
    font-size: var(--font-size-18);
  }
  
  .description-xl {
    font-size: var(--font-size-24);
  }
  