.tech-card-container {
  display: flex;
  padding: 0.57vw 0.83vw;
  width: 19.79vw;
  height: 4.27vw;
  flex-shrink: 0;
  gap: 1.5625vw;
  @media (max-width: 1099px) { 
    width: 100%;
    height: 82px;
    border-radius: 0.41vw;
    padding: 10px 16px;
  }
  background: linear-gradient(0deg, #fff 0%, #fff 100%), #fff;
  box-shadow: 0.1vw 0.1vw 1.04vw 0px rgba(0, 0, 0, 0.13);
  transition: all 0.3s ease-in-out;
  .tech-card-icon {
    width: 3.125vw;
    height: 3.125vw;
    flex-shrink: 0;
  }
  .tech-card-title {
    display: flex;
    align-items: center;
    width: 7.23vw;
    @media (max-width: 1099px) { 
      width: 100%;
    }
    color: #424242;
    font-family: Inter;
    font-size: var(--font-size-18);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.tech-card-container:first-child {
  &:hover {
    box-shadow: 0.013vw 0.2vw 1.04vw 0px rgba(101, 214, 222, 0.3);
  }
}

.tech-card-container:nth-child(2) {
  &:hover {
    box-shadow: 0.013vw 0.2vw 1.04vw 0px rgba(179, 122, 255, 0.3);
  }
}

.tech-card-container:nth-child(3) {
  &:hover {
    box-shadow: 0.013vw 0.2vw 1.04vw 0px rgba(106, 199, 123, 0.3);
  }
}

.tech-card-container:nth-child(4) {
  &:hover {
    box-shadow: 0.013vw 0.2vw 1.04vw 0px rgba(60, 149, 219, 0.3);
  }
}

#income {
  animation: floatAnimation2 3s ease-in-out infinite !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0.41vw 1.25vw;
}

#circular {
  transform: rotate(-54.2986 365.821 150.821);
}

@keyframes floatAnimation2 {
  0% {
    transform: translateY(-10);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10);
  }
}
