.digital-transformation-hero {
 background-image: url('../assets/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  background-position-y: 80%;
  position: relative;
}
