.listItemContainer {
  padding-bottom: max(4px, 0.2vw);

  .listItem {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
    display: inline-block;
  }

  .textItem {
    cursor: default !important;
    color: #fff !important;
    &:hover {
      color: #fff !important;
      opacity: 1 !important;
    }
  }

  .linkItem {
    cursor: pointer;
    transition: color 0.2s ease, opacity 0.2s ease;

    &:hover {
      color: #eb7c0d !important;
      opacity: 0.9 !important;
    }
  }
}
