.hover-expand-wrapper {
  display: inline-block;
  cursor: pointer;
  overflow: visible;
  position: absolute;
  opacity: 1;
  // transition: opacity 0.4s ease-in-out;
}

.star-icon {
  width: 2.29vw;  /* 44px */
  height: 2.55vw; /* 49px */
  transition: all 0.3s ease;
  overflow: visible;
}

.main-star,
.small-star,
.circle-part,
.bottom-arrow {
  transition: transform 0.5s ease;
}
