.hover-expand-wrapper {
  display: inline-block;
  cursor: pointer;
  overflow: visible;
  position: absolute;
  left: 20%;
  top: -10%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.star-icon {
  width: 44px;
  height: 49px;
  transition: all 0.3s ease;
  overflow: visible;
}

.main-star,
.small-star,
.circle-part,
.bottom-arrow {
  transition: transform 0.5s ease;
}
