.hero-section-d {
  height: 80vh;
  display: flex;
  align-items: center;
  z-index: 0;
  position: relative;
  padding: 8% 1.426% 0 7.8%;

  .ball-decorator {
    width: 17.9vw;
    height: 17.7vw;
    position: absolute;
    top: 9vw;
    z-index: 1;
    right: calc(19% + 28.39vw);
  }

  .light-bg {
    width: 25.15vw;
    height: 21.7vw;
    position: absolute;
    top: 5vw;
    right: calc(15% + 30vw);
    z-index: 2;
    opacity: 0.9;
    background-color: #fff;
  }

  .ball-bg {
    width: 25.15vw;
    height: 21.7vw;
    position: absolute;
    top: 5vw;
    right: calc(15% + 28.39vw);
  }
  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: max(40px, 3.125vw);
    text-align: left;
    z-index: 2;
    .text-container {
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 0.73vw;
      width: 100%;
      .heading {
        color: #3c3c3c !important;
        white-space: nowrap;
        font-size: max(24px, 2.5vw) !important;
        font-family: 'Inter', sans-serif !important;
        font-weight: 400;
        letter-spacing: 0.05vw;
        opacity: 0;
        transform: none;
        filter: none;
        span {
          background: var(--global-color-gradient);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: 600 !important;
        }
      }
      .description {
        color: var(--global-color-text) !important;
        font-family: 'Poppins', sans-serif !important;
        font-size: var(--font-size-24) !important;
        font-weight: 400;
        opacity: 0;
        transform: none;
        filter: none;
      }
    }
    .button {
      width: max(180px, 9.375vw);
    }
  }
  .image-container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    img {
      object-fit: contain;
    }
    svg {
      margin-top: 1000px;
    }
  }
}

@keyframes fadeInScaleRotate {
  0% {
    opacity: 0.8;
    transform: translateY(50px) scale(0.95) rotateX(10deg);
  }
  60% {
    opacity: 0.9;
    transform: translateY(-10px) scale(1.02) rotateX(2deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1) rotateX(0deg);
  }
}

/* Slide Up & Fade In Animation */
@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-container .heading,
.text-container .description {
  opacity: 0;
  transform: translateY(2.6vw);
  visibility: hidden;
}

/* Apply Slide-Up Animation */
.text-container .heading {
  animation: slideUpFadeIn 0.8s ease-out forwards;
  animation-delay: 0.2s;
  visibility: visible;
}

.text-container .description {
  animation: slideUpFadeIn 0.8s ease-out forwards;
  animation-delay: 0.4s;
  visibility: visible;
}

@media screen and (max-width: 900px) {
  .hero-section-d {
    flex-direction: column-reverse;
    height: 75svh;
    padding-left: 16px;
    padding-right: 16px;
    .ball-decorator {
      display: none;
    }
    .container {
      align-items: center;
      .text-container {
        .heading {
          text-align: center;
          letter-spacing: -0.48px;
          line-height: normal;
        }
        .description {
          margin-top: 16px;
          line-height: normal;
          letter-spacing: 0.16px;
          text-align: center;
        }
      }
    }
  }
}
