.work-culture-section {
  width: 100%;
  overflow: hidden;

  .title-description-action-wrapper {
    width: 100%;
    display: flex;

    .title-description-wrapper {
      display: flex;
      flex-direction: column;

      .work-culture-title {
        color: #132427;
        font-family: Poppins;
        font-size: 2.083vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .work-culture-description {
        margin-top: 0.833vw;
        width: 85%;
        color: #757575;
        text-align: justify;
        font-family: Poppins;
        font-size: 0.9375vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .action-button-wrapper {
      display: flex;
      gap: 0.521vw;

      .action-button {
        width: 3.125vw;
        height: 3.125vw;
        border-radius: 50%;
        flex-shrink: 0;
        background: linear-gradient(99deg, #eb7c0d 3.23%, #ffa750 97.72%),
          linear-gradient(180deg, #ec6738 0.01%, #e00094 164.14%);
        font-size: 2.604vw;
        color: var(--global-color-primary);
      }
    }
  }

  .work-cultures {
    margin-top: 2.8125vw;
    gap: 3.125vw;
    display: flex;
    margin-bottom: 6.25vw;
  }
}
