.textContainer {
  display: flex;
  flex-direction: column;
  gap: 2.1354vw;
  width: 50%;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  flex-wrap: nowrap !important;
  width: 100%;

  @media (min-width: 380px) and (max-width: 900px) {
    transform: scale(max(0.9, min(calc(100vw / 1600), 1)));
  }
}

.textWrapper {
  text-align: left;
  display: flex;
  flex-direction: column;
  animation: fadeInBlurScaleRotate 0.9s ease-out forwards;
}

.heading {
  color: #132427;
  font-family: 'Poppins', sans-serif !important;
  font-size: max(28px, 3.125vw) !important;
  font-weight: 600 !important;
  line-height: 116.667%;
  text-transform: capitalize;
  margin-bottom: 0.63vw !important;
}

.heading span {
  color: #eb7c0d;
  font-weight: 600 !important;
}

.description {
  max-width: 38.02vw;
  color: #757575 !important;
  font-family: Poppins, sans-serif !important;
  font-size: max(16px, 1.25vw) !important;
  font-weight: 400 !important;
  line-height: 158.333%;
  margin-bottom: 2.5vw;
}

.imageContainer {
  position: relative;
  width: 50%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  z-index: 5;
}

.image {
  width: auto !important;
  height: auto !important;
  max-width: 100%;
  max-height: 80vh;
  animation: fadeInBlurScaleRotate 0.9s ease-out forwards;
}

.button {
  width: max(180px, 9.375vw) !important;
}


@keyframes fadeInBlurScaleRotate {
  0% {
    opacity: 0.8;
    transform: translateY(2.6vw) scale(0.95);
  }

  60% {
    opacity: 0.9;
    transform: translateY(-0.52vw) scale(1.02);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .section {
    flex-direction: column-reverse !important;
    padding: 60px 24px 40px;
    height: auto;
    min-height: 80vh;
    gap: 32px !important;
  }

  .textContainer {
    width: 100%;
    align-items: center;

    .buttonContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 24px;
    }
  }

  .textWrapper {
    width: 100% !important;
    align-items: center;
    text-align: center;
  }

  .heading {
    font-size: 32px !important;
    line-height: 110.714%;
    margin-bottom: 16px !important;
  }

  .description {
    max-width: 100% !important;
    font-size: 16px !important;
    text-align: center;
    line-height: normal;
    margin-bottom: 0;
  }

  .imageContainer {
    width: 100%;
    min-height: 250px;
  }

  .image {
    max-width: 100%;
    scale: 1;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .section {
    padding: 40px 4%;
    height: auto;
    min-height: 70vh;
  }

  .heading {
    font-size: 4vw !important;
    line-height: 116.667%;
  }

  .description {
    font-size: 1.8vw !important;
    max-width: 90%;
    line-height: 158.333%;
  }

  .image {
    max-width: 100%;
  }
}

/* Desktop */
@media (min-width: 601px) and (max-width: 767px) {
  .section {
    padding: 0;
    height: auto;
    min-height: 70vh;
  }

  .heading {
    font-size: 4vw !important;
    line-height: 116.667%;
  }

  .description {
    font-size: 1.8vw !important;
    max-width: 90%;
    line-height: 158.333%;
  }

  .image {
    max-width: 100%;
  }
}

@media (min-width: 1025px) {
  .section {
    padding: 8.125vw 7.8% 6.25vw;
  }
}
