.global-hero-section-text {
  display: flex;
  flex-direction: column;
  gap: 2.1354vw;
}

.service-hero-section {
  padding-left: 7.8125%;
  padding-right: 7.8125%;
  padding-top: 5vw;
  height: 100svh;
}

.global-hero-section-text-wrapper {
  text-align: left;
  display: flex;
  flex-direction: column;
  transform: translateY(2.6042vw) scale(0.95) rotateX(10deg);
  animation: fadeInBlurScaleRotate 0.9s ease-out forwards;
}

.global-text-heading {
  color: #132427;
  flex-wrap: wrap;
  font-family: 'Poppins', sans-serif !important;
  font-size: 3.125vw !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 3.6458vw;
  text-transform: capitalize;
  margin-bottom: 0.8333vw !important;
}

.global-text-heading span {
  background: var(--global-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.global-text-description {
  max-width: 38.0208vw;
  flex-wrap: wrap;
  color: #757575 !important;
  font-family: Poppins, sans-serif !important;
  font-size: var(--font-size-24) !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
  letter-spacing: 0.025vw;
  margin-bottom: 2.0833vw;
}

.global-hero-section-image-wrapper {
  margin-top: 2.6042vw;
  transform: translateY(2.6042vw) scale(0.95) rotateX(10deg);
  width: 46.875vw;
  height: 33.854vw;
  animation: fadeInBlurScaleRotate 0.9s ease-out forwards;
}

.button {
  width: max(180px, 9.375vw);
}

@keyframes fadeInBlurScaleRotate {
  0% {
    opacity: 0.8;
    transform: translateY(2.6042vw) scale(0.95) rotateX(10deg);
  }
  60% {
    opacity: 0.9;
    transform: translateY(-0.5208vw) scale(1.02) rotateX(2deg);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1) rotateX(0deg);
  }
}
