.tech-solution-section-wrapper {
    margin-top: 7.8vw;
    margin-bottom: 7.8vw;
    display: flex;
    align-items: center;
    // height: 85vh;
    padding: 0 5%;
    padding-left: 7.8125%;
    padding-right: 7.8125%;
    .tech-solution-section {
      flex: 1;
      display: flex;
      flex-direction: column;
      text-align: left;
      .tech-solution-section-text-wrapper {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 0.41vw;
        width: 100%;
        .text-heading {
          color: #3c3c3c !important;
          // font-size: 4.8rem !important;
          font-family: Poppins, sans-serif !important;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.05vw;
          margin-bottom: 0.41vw;
        }
  
        .text-description {
          color: #777;
          text-align: justify;
          font-family: Poppins;
          font-size: var(--font-size-18);
          font-style: normal;
          font-weight: 400 !important;
          line-height: 1.25vw;
          letter-spacing: 0.02vw !important;
        }
      }
      .tech-solution-section-card-wrapper{
        margin-top: 1.66vw;
        width: 100%;
        display: flex;
        flex-wrap: wrap; 
        justify-content: flex-start; 
        gap: 1.25vw; 
      }
      
    }
    .tech-solution-section-image-wrapper {
      flex: 1;
      width: 100%;
      height: 100%;
      max-height: 26.0417vw;
      justify-content: end;
      display: flex;
      img {
        margin-right: -1.04vw;
        width: auto;
        max-width: 95%;
        height: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }
  }
  

  
  @media (max-width: 900px) {
    .tech-solution-section-wrapper {
      flex-direction: column-reverse;
      text-align: center;
      padding: 20px;
  
      .tech-solution-section {
        .tech-solution-section-text-wrapper {
          max-width: 90%;
  
          .text-heading {
            font-size: 3.2rem !important;
          }
  
          .text-description {
            font-size: 1.8rem !important;
          }
        }
      }
    }
  }
  
  @media (max-width: 600px) {
    .tech-solution-section-wrapper {
      height: auto;
      padding: 10px;
      .tech-solution-section-text-wrapper {
        .text-heading {
          font-size: 2.8rem !important;
        }
  
        .text-description {
          font-size: 1.6rem !important;
        }
      }
    }
  }

  @media (max-width: 1699px) {
    .tech-solution-section-wrapper {
      // padding: 5%;
    }
    .tech-card-container {
      width: 255px;
    }
  }




  @media (max-width: 1499px) {
    .tech-solution-section-wrapper {
      padding:  0% 5%;
    }

  }


