.tech-mobile-solution-section-wrapper {
  display: none;
  margin-top: 80px;
  padding: 0 16px;
  .text-description {
    text-align: center;
    margin-top: 16px;
  }
  .tech-mobile-solution-section-card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 40px;
    @media screen and (max-width: 599px) {
      grid-template-columns: 1fr;
    }
  }
  .tech-card-container {
    border-radius: 8px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.13);
    svg {
      width: 55px;
    }
  }
}
