.review-hero-section-wrapper {
  margin-top: 120px;

  .subheading {
    color: #5c5c5c;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 1128px;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 120px;
  }
}