.faq {
  margin: auto;
  padding: 3.3333vw 1.25vw;
  padding-left: 7.8125%;
  padding-right: 7.8125%;
  margin-top: Max(80px, 3.125vw);
  gap: Max(36px, 3.3333vw);
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 900px) {
    padding-left: 16px;
    padding-right: 16px;
  }

  .images {
    position: relative;
    @media (max-width: 900px) {
      display: none;
    }
    .bg-orange {
      position: absolute;
      width: 50%;
      height: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
      border-radius: 36.5104vw; // 701px
      background: linear-gradient(
        99deg,
        rgba(255, 142, 29, 0.12) 90.23%,
        rgb(255, 128, 0) 120.82%
      );
      filter: blur(11.8136vw); // 226.6022px
    }
  }

  .section-heading {
    color: #132427;
    font-family: Poppins;
    font-size: var(--font-size-40);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.0417vw; // -0.8px

    span {
      color: #eb7c0d;
    }
  }

  .section-sub-heading {
    color: var(--global-color-accent-font-color, #132427);
    font-family: Poppins;
    font-size: var(--font-size-24);
    font-style: normal;
    font-weight: 600;
    line-height: 2.3958vw;
    letter-spacing: -0.025vw; // -0.48px
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: Max(36px, 1.6666vw);
  }

  .questions-wrapper {
    display: flex;
    flex-direction: column;
    gap: Max(16px, 0.8333vw);
  }

  .question-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0.8333vw;
    padding: 0.5208vw 0.8333vw;

    border-radius: 0.4166vw;
    box-shadow: 0.1041vw 0.0521vw 0.5208vw 0vw rgba(19, 114, 124, 0.13); // 2px 1px 10px
    @media (max-width: 900px) {
      padding: 16px;
      border-radius: 8px;
      box-shadow: 2px 1px 10px 0px rgba(19, 114, 124, 0.13);
    }
  }

  .question {
    color: #424242;
    font-family: Poppins;
    font-size: var(--font-size-18);
    font-style: normal;
    font-weight: 400;
    @media (max-width: 900px) {
      color: #132427;
      margin-bottom: 4px;
    }
  }

  .answer {
    color: #777;
    font-family: Inter;
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 400;
  }
}

.toggle-icon {
  width: Max(34px, 1.823vw);
  height: Max(34px, 1.823vw);
}
