.big-show-case-event-card {
  width: 32.81vw;
  flex-shrink: 0;
  height: 31.77vw;
  background-color: var(--global-color-primary);
  border-radius: 1.04vw;

  @media screen and (max-width: 1371px) {
    // width: 100%;
  }

  .show-case-image-container {
    border-top-right-radius: 1.04vw;
    border-top-left-radius: 1.04vw;
    position: relative;
    width: 32.81vw;
    overflow: hidden;
    
    .show-case-image {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      object-fit: contain;
    }
  }
  .event-details {
    padding: 1.56vw;
    width: 100%;
    height: auto;
    .event-date {
      width: 100%;
      height: auto;
      display: flex;
      gap: 0.52vw;
      align-items: center;
      img {
        width: 0.73vw;
        height: 0.83vw;
        flex-shrink: 0;
      }
      .date-text {
        color: #757575;
        font-feature-settings: "liga" off, "clig" off;
        font-family: Poppins;
        font-size: var(--font-size-16);
        font-style: normal;
        font-weight: 400;
      }
    }
    .event-content-details {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;

      gap: 1.56vw;
      .title-text {
        margin-top: 0.99vw;
        color: #132427;
        font-feature-settings: "liga" off, "clig" off;
        font-family: Poppins;
        font-size: max(16px , 1.15vw) !important;
        font-style: normal;
        font-weight: 600;
      }
      .description-text {
        color: #757575;
        font-feature-settings: "liga" off, "clig" off;
        font-family: Poppins;
        font-size: var(--font-size-16) !important;
        font-style: normal;
        font-weight: 400 !important;
      }
      .button {
        padding: 0;
        display: flex;
        gap: 0.52vw;
        font-family: Poppins;
        font-size: var(--font-size-14) !important;
        font-style: normal;
        font-weight: 600 !important;
        align-items: center;
        width: max-content;
        background: linear-gradient(99deg, #eb7c0d 3.23%, #ffa750 97.72%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        .icon {
          color: #eb7c0d;
          font-size: inherit;
        }
      }
    }
  }
}
