.big-show-case-event-card {
  width: 630px;
  flex-shrink: 0;
  height: 610px;
  background-color: var(--background);
  border-radius: 20px;

  @media screen and (max-width: 1371px) {
    // width: 100%;
  }

  .show-case-image-container {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
    width: 630px;
    overflow: hidden;
    
    .show-case-image {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
      object-fit: contain;
    }
  }
  .event-details {
    padding: 30px;
    width: 100%;
    height: auto;
    .event-date {
      width: 100%;
      height: auto;
      display: flex;
      gap: 10px;
      align-items: center;
      img {
        width: 14px;
        height: 15.974px;
        flex-shrink: 0;
      }
      .date-text {
        color: #757575;
        font-feature-settings: "liga" off, "clig" off;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
      }
    }
    .event-content-details {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;

      gap: 30px;
      .title-text {
        margin-top: 19px;
        color: #132427;
        font-feature-settings: "liga" off, "clig" off;
        font-family: Poppins;
        font-size: 22px !important;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
      }
      .description-text {
        color: #757575;
        font-feature-settings: "liga" off, "clig" off;
        font-family: Poppins;
        font-size: 16px !important;
        font-style: normal;
        font-weight: 400 !important;
        line-height: 30px;
      }
      .button {
        padding: 0;
        display: flex;
        gap: 10px;
        font-family: Poppins;
        font-size: 14px !important;
        font-style: normal;
        font-weight: 600 !important;
        line-height: 30px !important;
        align-items: center;
        width: max-content;
        background: linear-gradient(99deg, #eb7c0d 3.23%, #ffa750 97.72%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        .icon {
          color: #eb7c0d;
          font-size: inherit;
        }
      }
    }
  }
}
