.services-section {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Poppins;
  .title {
    font-size: 32px !important;
  }


  .services-left-container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-right: -110px;
    z-index: 100;
    .business-item {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      width: 371px;
      padding: 24px;
      border-radius: 10px;
      background: var(--global-color-primary);
      outline: 0px solid var(--global-color-accent);
      box-shadow: 5px 4px 52.7px 0px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: translateY(-4px);
        box-shadow: 5px 4px 20px 0px rgba(247, 125, 3, 0.3);
      }
      .business-item-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: baseline;
        gap: 10px;
        .business-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
        }

        .business-title {
          color: #0b4357;
          text-align: left;
          leading-trim: both;
          text-edge: cap;
          font-family: Poppins;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
      .business-count-text {
        font-family: Montserrat !important;
        font-size: 80px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .services-right-container {
    display: flex;
    margin-right: 40px;
    height: 545px;
    top: 180px;
    top: 15vh;
    position: sticky;
    flex-direction: column;
    .logo {
      bottom: 45%;
      left: 67%;
      position: absolute;
      width: 520.584px;
      height: 450px;
    }

    .business-proof {
      margin-top: 35px;
      width: 948px;
      height: 545px;
      border-radius: 8px;
      background: #f77d03;
      display: flex;
      align-items: center;
      justify-content: center;
      .business-proof-content {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 57px 40px 70px 167px;
        flex-direction: column;
        gap: 32px;
        font-family: Poppins;
        font-style: normal;
        color: var(--global-color-primary);
        .business-proof-heading {
          font-size: 36px;
          font-weight: 600;
          line-height: normal;
          font-family: Poppins;
        }
        .business-proof-description {
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
          font-family: Poppins;
        }
        .business-proof-technologies {
          display: flex;
          flex-direction: row;
          gap: 50px;
        }
      }
    }
  }
}

.fade-transition {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  opacity: 1;
  transform: translateY(0);
}

.fade-transition-hidden {
  opacity: 0;
  transform: translateY(
    -30px
  ); /* You can adjust the value for sliding effect */
}

@media (max-width: 1499px) {
  .services-section {
    .services-left-container {
      margin-right: -140px;
    }
    .business-item {
      width: 300px !important;
    }
    .services-right-container {
      top: 45px;
      .logo {
        bottom: 45%;
        left: 55%;
        width: 420.584px;
        height: 350px;
      }
    }
  }
}

@media (max-height: 860px) {
  
  .services-right-container {
    top: 45px;
  }
}
