.services-section {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Poppins;
  .title {
    text-align: left;
    font-size: 2.08vw !important;
  }


  .services-left-container {
    margin-top: 5.36vw;
    display: flex;
    flex-direction: column;
    gap: 1.66vw;
    margin-right: -5.73vw;
    z-index: 99;
    .business-item {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      width: 19.32vw;
      padding: 1.25vw;
      border-radius: 0.52vw;
      background: var(--global-color-primary);
      outline: 0px solid var(--global-color-accent);
      box-shadow: 0.26vw 0.20vw 2.7vw 0px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease-in-out;

      &:hover {
        transform: translateY(-0.41vw);
      }
      .business-item-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: baseline;
        gap: 0.52vw;
        .business-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 2.6vw;
          height: 2.6vw;
        }

        .business-title {
          color: #0b4357;
          text-align: left;
          leading-trim: both;
          text-edge: cap;
          font-family: Poppins;
          font-size: var(--font-size-20);
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
      }
      .business-count-text {
        font-family: Montserrat !important;
        font-size: 4.16vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .services-right-container {
    display: flex;
    margin-right: 2.08vw;
    height: 28.38vw;
    top: 9.375vw;
    top: 15vh;
    position: sticky;
    flex-direction: column;
    .logo {
      bottom: 45%;
      left: 67%;
      position: absolute;
      width: 27.08vw;
      height: 23.43vw;
    }

    .business-proof {
      margin-top: 3.125vw;
      width: 49.375vw;
      height: 28.38vw;
      border-radius: 0.41vw;
      background: #f77d03;
      display: flex;
      align-items: center;
      justify-content: center;
      .business-proof-content {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 2.96vw 2.08vw 3.64vw 8.69vw;
        flex-direction: column;
        gap: 1.66vw;
        font-family: Poppins;
        font-style: normal;
        color: var(--global-color-primary);
        .business-proof-heading {
          font-size: 1.875vw;
          font-weight: 600;
          line-height: normal;
          font-family: Poppins;
        }
        .business-proof-description {
          font-size: var(--font-size-18);
          font-weight: 400;
          line-height: 1.46vw;
          font-family: Poppins;
        }
        .business-proof-technologies {
          display: flex;
          flex-direction: row;
          gap: 2.6vw;
        }
      }
    }
  }
}
.fade-transition {
  transition: 
    opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), /* Smooth easing for more fluid motion */
    transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    filter 0.3s ease; /* Add a slight blur effect for extra elegance */
  opacity: 1;
  transform: scale(1);
  filter: blur(0); /* Initial state, no blur */
}

.fade-transition-hidden {
  opacity: 0;
  transform: scale(0.95); /* Slightly smaller scale for a more refined transition */
  filter: blur(0.26vw); /* Apply subtle blur when hidden for a smoother transition */
}
