.small-show-case-event-card {
  width: 32.81vw;
  height: 15.1vw;
  display: flex;
  border-radius: 20px;
  background-color: var(--global-color-primary);
  overflow: hidden;

  .show-case-image-container {
    position: relative;
    width: 17.19vw;
    height: 15.1vw;
    overflow: hidden;

    .show-case-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .event-details {
    padding: 1.56vw !important;
    width: 100%;
    height: 15.1vw;
    .event-date {
      width: 100%;
      height: auto;
      display: flex;
      gap: 0.52vw;
      align-items: center;
      img {
        width: 0.73vw;
        height: 0.83vw;
        flex-shrink: 0;
      }
      .date-text {
        color: #757575;
        font-feature-settings:
          'liga' off,
          'clig' off;
        font-family: Poppins;
        font-size: var(--font-size-16) !important;
        font-style: normal;
        font-weight: 400 !important;
      }
    }
    .event-content-details {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      gap: 1.04vw;
      .title-text {
        margin-top: 9px;
        color: #132427;
        font-feature-settings:
          'liga' off,
          'clig' off;
        font-family: Poppins;
        font-size: max(16px, 1.15vw) !important;
        font-style: normal;
        font-weight: 600;
      }
      .description-text {
        color: #757575;
        font-feature-settings:
          'liga' off,
          'clig' off;
        font-family: 'Plus Jakarta Sans';
        font-size: var(--font-size-16);
        font-style: normal;
        font-weight: 400;
      }
      .button {
        padding: 0;
        display: flex;
        gap: 0.52vw;
        font-family: Poppins;
        font-size: var(--font-size-14) !important;
        font-style: normal;
        font-weight: 600 !important;
        align-items: center;
        width: max-content;
        background: linear-gradient(99deg, #eb7c0d 3.23%, #ffa750 97.72%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        .icon {
          color: #eb7c0d;
          font-size: inherit;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .small-show-case-event-card {
    width: 100%;
    height: auto;
    border-radius: 11.38px;
    background-color: #f6f6f6;
    .show-case-image-container {
      width: 60%;
      height: auto;
    }
    .event-details {
      padding: 12px !important;
      width: 100%;
      height: auto;
      .event-date {
        width: 100%;
        height: auto;
        gap: 4px;
        img {
          width: 12px;
          height: 12px;
        }
        .date-text {
          color: #757575;
          font-size: 12px !important;
        }
      }
      .event-content-details {
        width: 100%;
        height: auto;
        gap: 8px;
        .title-text {
          margin-top: 8px;
          color: #132427;
          font-size: 12px !important;
        }
        .description-text {
          color: #757575;
          font-size: 12px;
        }
      }
    }
  }
}
