.client-satisfaction-section {
  margin-top: 6.25vw; /* 120px / 1920 * 100 */
  width: 100%;
  height: 100%;
  padding: 0px 2.5vw; /* 48px / 1920 * 100 */
  position: relative;
  overflow: hidden;
  @media (max-width: 900px) {
    display: none;
  }
  .logo-left {
    position: absolute;
    top: 0%;
    left: -5%;
    width: 19.81vw;
    height: 17.8vw;
  }

  .logo-right {
    position: absolute;
    bottom: 0%;
    right: 3%;
    width: 19.81vw;
    height: 17.8vw;
  }

  .title {
    color: #132427;
    font-family: Montserrat !important;
    margin-bottom: 1.25vw; /* 24px / 1920 * 100 */
    font-size: 2.0833vw !important; /* 40px / 1920 * 100 */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.1666vw; /* -3.2px / 1920 * 100 */
  }
  .description {
    margin-top: 1.1979vw; /* 23px / 1920 * 100 */
    margin-bottom: 2.6041vw; /* 50px / 1920 * 100 */
    max-width: 130.2083vw; /* 2500px / 1920 * 100 */
    margin: auto;
    padding: 0 15%;
    text-align: center;
    font-family: Poppins !important;
    @media (min-width: 2000px) {
      margin-top: 1.875vw; /* 36px / 1920 * 100 */
    }
  }

  .svg-container {
    max-width: 82.1354vw; /* 1577px / 1920 * 100 */
    margin: auto;
  }
}
#previous,
#engagement,
#exceeding,
#celebrating {
  opacity: 0;
  transform: translateY(1.0416vw); /* 20px / 1920 * 100 */
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.in-view {
  #previous {
    animation-name: fadeInUp;
    animation-delay: 0s;
  }

  #engagement {
    animation-name: fadeInUp;
    animation-delay: 0.5s;
  }

  #exceeding {
    animation-name: fadeInUp;
    animation-delay: 0.9s;
  }

  #celebrating {
    animation-name: fadeInUp;
    animation-delay: 1.5s;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(1.0416vw); /* 20px / 1920 * 100 */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1499px) {
  .client-satisfaction-section {
    .description {
      padding: 0;
    }
  }
}
