.show-case-section {
  width: 100%;
  height: 100vh;
  .show-case-description-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    .show-case-description {
      margin-top: 16px;
      width: 70%;
      color: #5c5c5c;
      text-align: justify;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
