.container {
  position: relative;
  width: 31.25vw;
  height: 32.18vw;

  .topCard {
    filter: drop-shadow(0.1vw 0.21vw 2.6vw rgba(30, 119, 139, 0.13));
    width: 52%;
    height: 59%;
    position: absolute;
    border-radius: max(16px, 1.04vw);
    background: url('../assets/top-card.png') center center no-repeat;
    background-size: cover;
  }

  .rightCard {
    filter: drop-shadow(0.1vw 0.21vw 2.6vw rgba(30, 119, 139, 0.13));
    width: 40.66%;
    height: 35.1%;
    position: absolute;
    border-radius: max(16px, 1.04vw);
    background: url('../assets/right-card.png') center center no-repeat;
    background-size: cover;
  }

  .bottomCard {
    filter: drop-shadow(0.1vw 0.21vw 2.6vw rgba(30, 119, 139, 0.13));
    width: 52%;
    height: 51%;
    position: absolute;
    border-radius: max(16px, 1.04vw);
    background: url('../assets/bottom-card.png') center center no-repeat;
    background-size: cover;
  }

  .leftCard {
    width: 29%;
    height: 35.27%;
    background: var(--global-color-gradient);
    position: absolute;
    border-radius: max(16px, 1.04vw);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;

    .title {
      color: #fff;
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-size: max(32px, 2.6vw);
      font-style: normal;
      font-weight: 700;
      line-height: max(normal, 6.25vw);
    }

    .description {
      margin-top: max(10px, 0.52vw);
      color: #fff;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-size: max(12.5px, 1.04vw);
      font-style: normal;
      font-weight: 600;
      line-height: max(normal, 1.56vw);
    }
  }

  .dottedBackground {
    position: absolute;
    width: 51%;
    height: 43.2%;
    bottom: 0;
    z-index: -2;
  }
}

@media screen and (max-width: 600px) {
  .container {
    height: 355px;
    width: 95%;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .container {
    .bottomCard {
      border-radius: 14px;
    }
    .leftCard {
      border-radius: 14px;

      .title {
        font-size: 24px;
      }

      .description {
        font-size: 10px;
      }
    }
    .topCard {
      border-radius: 14px;
    }
    .rightCard {
      border-radius: 14px;
    }
  }
}
