.country-card {
  border-radius: 0.41vw;
  transition: transform 0.3s ease-in-out;

  .icons {
    width: 4.166vw; // ~80px
    height: 2.6vw; // ~50px
    object-fit: cover;
    border-radius: 0.26vw;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0.26vw 0.78vw rgba(145, 92, 182, 0.4); // 5px 15px
    }
  }
}

.country-card-selected {
  transform: scale(1.1);
  background: none;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}
