.container {
  margin-top: 80px;
  padding: 0 16px;
  .description {
    text-align: center;
    margin-top: 16px;
  }
  .imageContainer {
    width: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 8px;
  }
  .cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 40px;
    @media screen and (max-width: 599px) {
      grid-template-columns: 1fr;
    }
  }
  .card {
    align-items: center;
    gap: 30px;
    display: flex;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.13);
    border-radius: 8px;
    padding: 14px;
    .cardTitle {
      color: #424242;
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      width: 35%;
      line-height: normal;
      letter-spacing: 0.16px;
    }
    svg {
      width: 55px;
    }
  }
  .button{
    width: 195px;
  }
}
