.why-choose-us-section {
  width: 100%;
  height: auto;
  margin-top: 5.99vw;
  position: relative;
  .logo {

    flex-shrink: 0;
  }
  .right-logo {

    bottom:-11.458vw;

    right: -7.813vw;

    position: absolute;
    // @media (max-width: 1800px) {
    //   right: 6.25vw;
    // }
  }
  .left-logo {
    top: 0;
    left: -11.458vw;
    position: absolute;
  }
  .title {
    color: #132427;
    font-family: Poppins;
    font-size: 2.083vw    !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: normal;
    margin-bottom: 2.083vw;
  }
}

.why-choose-us .content {
  display: grid;
  place-content: center;
  position: relative;
  max-width:67.708vw;
  margin: auto;
  margin-top: 1.563vw;

  margin-bottom: 3.125vw;

}

.why-choose-us .thumsup {
  scale: 0.2;
  opacity: 0;
}

.why-choose-us .children .first {
  position: absolute;
  top: 0.052vw;

  left: 0.521vw;

  opacity: 0;
}

.why-choose-us .children .second {
  position: absolute;
  top:0.052vw;
  right: 0.521vw;
  opacity: 0;
}

.why-choose-us .children .third {
  position: absolute;
  bottom: 0px;
  left: 0.521vw;
  opacity: 0;
}

.why-choose-us .children .fourth {
  position: absolute;
  bottom: 0.052vw;
  right:0.521vw;
  opacity: 0;
}

.animate_comeFromLeft {
  animation: comeFromLeft 1.5s forwards;
}

.animate_comeFromRight {
  animation: comeFromRight 1.5s forwards;
}

.animate_comeFromRight2 {
  animation: comeFromRight2 1.5s forwards;
}



.animate_scale {
  animation: scale 1.5s forwards;
}

@keyframes comeFromLeft {
  0% {
    transform: translateX(-15.625vw    );
    opacity: 0;
  }

  75% {
    transform: translateX(3.125vw    ); /* Slight overshoot */
    opacity: 1;
  }

  100% {
    transform: translateX(2.604vw    ); /* Ends at 50px */
    opacity: 1;
  }
}

@keyframes comeFromRight {
  0% {
    transform: translateX(15.625vw    );
    opacity: 0;
  }

  75% {
    transform: translateX(-3.125vw    ); /* Slight overshoot */
    opacity: 1;
  }

  100% {
    transform: translateX(-2.604vw    ); /* Ends at -50px */
    opacity: 1;
  }
}

@keyframes comeFromRight2 {
  0% {
    transform: translateX(15.625vw    );
    opacity: 0;
  }

  75% {
    transform: translateX(-5.729vw    ); /* Slight overshoot */
    opacity: 1;
  }

  100% {
    transform: translateX(-5.208vw    ); /* Ends at -50px */
    opacity: 1;
  }
}



.animate_comeFromLeftS {
  animation: comeFromLeftS 1.5s forwards;
}

.animate_comeFromRightS {
  animation: comeFromRightS 1.5s forwards;
}

.animate_comeFromRight2S {
  animation: comeFromRight2S 1.5s forwards;
}



@keyframes comeFromLeftS {
  0% {
    transform: translateX(-15.625vw    );
    opacity: 0;
  }

  75% {
    transform: translateX(0.521vw    ); /* Slight overshoot */
    opacity: 1;
  }

  100% {
    transform: translateX(0px); /* Ends at 50px */
    opacity: 1;
  }
}

@keyframes comeFromRightS {
  0% {
    transform: translateX(15.625vw    );
    opacity: 0;
  }

  75% {
    transform: translateX(-1.042vw    ); /* Slight overshoot */
    opacity: 1;
  }

  100% {
    transform: translateX(0px); /* Ends at -50px */
    opacity: 1;
  }
}

@keyframes comeFromRight2S {
  0% {
    transform: translateX(15.625vw    );
    opacity: 0;
  }

  75% {
    transform: translateX(-0.521vw    ); /* Slight overshoot */
    opacity: 1;
  }

  100% {
    transform: translateX(0px); /* Ends at -50px */
    opacity: 1;
  }
}





@keyframes scale {
  0% {
    scale: 0.2;
    opacity: 0;
  }
  55% {
    scale: 1.1;
    opacity: 1;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

@media (max-width: 1366px) and (min-width: 992px) {
  .why-choose-us {
    margin-top: 2.083vw;
  }

  .animate_scale {
    animation: scaleSM 1s forwards;
  }

  .why-choose-us .content {
    transform: scale(0.7);

    margin-bottom:-4.167vw;

    margin-top:-4.167vw;

  }
}

@keyframes scaleSM {
  0% {
    scale: 0.2;
    opacity: 0;
  }
  55% {
    scale: 1;
    opacity: 1;
  }

  100% {
    scale: 0.8;
    opacity: 1;
  }
}

