.why-choose-us-section {
  width: 100%;
  height: auto;
  margin-top: 5.99vw;
  position: relative;
  @media (max-width: 600px) {
    display: none !important;
  }
  .logo {
    flex-shrink: 0;
  }
  .right-logo {
    bottom: -11.458vw;
    right: -7.813vw;
    width: 19.81vw;
    height: 17.8vw;
    position: absolute;
  }
  .left-logo {
    top: 0;
    left: -11.458vw;
    width: 19.81vw;
    height: 17.8vw;
    position: absolute;
  }
}

.why-choose-us .content {
  display: grid;
  place-content: center;
  position: relative;
  max-width: 67.708vw;
  margin: auto;
  margin-top: 1.563vw;

  margin-bottom: 3.125vw;
}

.why-choose-us .thumsup {
  scale: 0.2;
  opacity: 0;
  width: 41.82vw;
  height: 40.81vw;
  margin-top: 3vw;
}

.why-choose-us .children .first {
  position: absolute;
  top: 3vw;
  left: 1vw;
  width: 28.02vw;
  height: 26.86vw;
  opacity: 0;
}

.why-choose-us .children .second {
  position: absolute;
  top: 1vw;
  right: -0.5vw;
  width: 30.02vw;
  height: 24.86vw;
  opacity: 0;
}

.why-choose-us .children .third {
  position: absolute;
  bottom: -3.5vw;
  left: -2vw;
  width: 28.02vw;
  height: 20.86vw;
  opacity: 0;
}

.why-choose-us .children .fourth {
  position: absolute;
  bottom: -5.5vw;
  right: -0.5vw;
  width: 26.02vw;
  height: 22.86vw;
  opacity: 0;
}

.animate_comeFromLeft {
  animation: comeFromLeft 1.5s forwards;
}

.animate_comeFromRight {
  animation: comeFromRight 1.5s forwards;
}

.animate_comeFromRight2 {
  animation: comeFromRight2 1.5s forwards;
}

.animate_scale {
  animation: scale 1.5s forwards;
}

@keyframes comeFromLeft {
  0% {
    transform: translateX(-15.625vw);
    opacity: 0;
  }

  75% {
    transform: translateX(3.125vw); /* Slight overshoot */
    opacity: 1;
  }

  100% {
    transform: translateX(2.604vw); /* Ends at 50px */
    opacity: 1;
  }
}

@keyframes comeFromRight {
  0% {
    transform: translateX(15.625vw);
    opacity: 0;
  }

  75% {
    transform: translateX(-3.125vw); /* Slight overshoot */
    opacity: 1;
  }

  100% {
    transform: translateX(-2.604vw); /* Ends at -50px */
    opacity: 1;
  }
}

@keyframes comeFromRight2 {
  0% {
    transform: translateX(15.625vw);
    opacity: 0;
  }

  75% {
    transform: translateX(-5.729vw); /* Slight overshoot */
    opacity: 1;
  }

  100% {
    transform: translateX(-5.208vw); /* Ends at -50px */
    opacity: 1;
  }
}

.animate_comeFromLeftS {
  animation: comeFromLeftS 1.5s forwards;
}

.animate_comeFromRightS {
  animation: comeFromRightS 1.5s forwards;
}

.animate_comeFromRight2S {
  animation: comeFromRight2S 1.5s forwards;
}

@keyframes comeFromLeftS {
  0% {
    transform: translateX(-15.625vw);
    opacity: 0;
  }

  75% {
    transform: translateX(0.521vw); /* Slight overshoot */
    opacity: 1;
  }

  100% {
    transform: translateX(0px); /* Ends at 50px */
    opacity: 1;
  }
}

@keyframes comeFromRightS {
  0% {
    transform: translateX(15.625vw);
    opacity: 0;
  }

  75% {
    transform: translateX(-1.042vw); /* Slight overshoot */
    opacity: 1;
  }

  100% {
    transform: translateX(0px); /* Ends at -50px */
    opacity: 1;
  }
}

@keyframes comeFromRight2S {
  0% {
    transform: translateX(15.625vw);
    opacity: 0;
  }

  75% {
    transform: translateX(-0.521vw); /* Slight overshoot */
    opacity: 1;
  }

  100% {
    transform: translateX(0px); /* Ends at -50px */
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    scale: 0.2;
    opacity: 0;
  }
  55% {
    scale: 1.1;
    opacity: 1;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}
