.base-style {
  color: #132427 !important;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Poppins !important;
  font-size: var(--font-size-16) !important; // 16px
  font-style: normal;
  font-weight: 400;
  line-height: max(1.56vw, 20px) !important; // 30px
  border-radius: max(0.21vw, 4px) !important; // 4px
  background: #fff;
  padding: max(0.78vw, 11px) max(1.04vw, 20px) !important; // 15px 20px
}
