.innovation-excellence-section {
  width: 100%;
  display: flex;
  padding: 6.30208333333vw;

  @media (max-width: 1499px) {
    padding: 40px;
  }

  @media (max-width: 1554px) {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .left-section {
    width: 40%;
    @media (max-width: 1554px) {
      width: 100%;
    }
    .title {
      width: 27.5vw;
      color: #132427;
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      @media (max-width: 1499px) {
        width: 100%;
      }
    }
    .description {
      margin-top: 0.83333333333vw;
      color: #757575;
      font-family: Poppins;
      font-style: normal;
      line-height: normal;
      @media (max-width: 1499px) {
        font-size: 17px;
        margin-bottom: 50px;
      }
      @media (max-width: 1199px) {
        font-size: 16px;
      }
      @media (max-width: 899px) {
        font-size: 15px;
      }
      @media (max-width: 599px) {
        font-size: 16px;
      }
    }
    .excellence-image {
      margin-top: 1.66666666667vw;
      @media (max-width: 1554px) {
        display: none;
      }
    }
  }
  .right-section {
    @media (max-width: 1554px) {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    width: 100%;
    flex: 1;
    display: flex;
    gap: 3.33333333333vw;
    justify-content: center;
    flex-wrap: wrap;
  }
}
