.container {
  padding: 0;
  width: 100%;
  .sectorList {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 14px;
    .card {
      width: 100%;
      padding: 16px;
      border-radius: 8px;
      border: 1px solid #d5d5d5;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 22px;
      flex-wrap: wrap;
      .iconContainer {
        background-color: #fff7ef;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: 10px;
        filter: drop-shadow(0.873px 3.493px 6.985px rgba(0, 0, 0, 0.08));
      }
      .cardTitle {
        color: #132427;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 26.195px;
        flex: 1;
      }
      .arrow {
        width: 20px;
        height: 20px;
      }
      .expandedSectionContainer {
        display: flex;
        flex-direction: column;

        .expandedSection {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 16px;
          padding: 12px 16px;
          .expandedSectionIconContainer {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0.873px 3.493px 6.985px 0 rgba(0, 0, 0, 0.08);
          }
          .expandedSectionTitle {
            color: #132427;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            flex: 1;
            letter-spacing: 0.16px;
          }
        }
      }
    }
  }
}
