.vision-section {
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  flex-direction: column;
  .section-title {
    margin-top: 56px;
    color: var(--background);
    font-family: Poppins;
    font-size: 40px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: normal;

    @media screen and (max-width: 1499px) {
      font-size: 36px !important;
      
    }
    
  }
  .section-description {
    margin-top: 15px;
    text-align: center;
    width: 90%;
    color: var(--background);
    text-align: center;
    font-family: Poppins;
    font-size: 2rem !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;

    @media screen and (max-width: 1499px) {
      font-size: 21px !important;
    }
  }
  .vision-list {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 77px;
    flex-wrap: wrap;
    gap: 10px;
  }
}
