.perk-benefits-section {
  width: 100%;
  height: auto;
  margin-bottom: 5.208vw;

  .container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .description {
      margin-top: 0.729vw;
      margin-bottom: 3.125vw;
      color: #757575;
      text-align: center;
      font-family: Poppins;
      font-size: 0.9375vw;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 70%;
    }

    .perks-benefits-list {
      display: flex;
      flex-wrap: wrap;
      max-width: 66.0417vw;
      gap: 2.083vw;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.perk-card {
  border-radius: 1.0417vw;
  box-shadow: 0vw 0vw 3.125vw 0vw rgba(0, 0, 0, 0.05);
  display: flex;
  width: 14.9479vw;
  padding: 1.25vw;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.521vw;
  flex-shrink: 0;
  border-width: 0.0521vw;

  .perk-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.125vw;
    height: 3.125vw;
    border-radius: 1.0417vw;
    flex-shrink: 0;
  }

  .perk-card-title {
    min-width: 12.4479vw;
    color: #132427;
    font-feature-settings:
      'liga' off,
      'clig' off;
    font-family: Poppins;
    font-size: 1.1458vw !important;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5625vw;
    letter-spacing: -0.0229vw;
  }
}
