.development-process-description {
  margin-top: 1.1979vw !important;
  max-width: 130.2083vw;
  margin: auto;
  padding: 0 10% max(40px, 2vw);
  text-align: center;
  font-family: Poppins !important;
}

.development-process-description.software-dev-desc {
  padding-bottom: 40px !important;
}

.software-dev-process + .ready-to-start {
  margin-top: 40px !important;

  @media (max-width: 1000px) {
    margin-top: 40px !important;
  }
}