.development-process-description {
  margin-top: 1.1979vw !important;
  max-width: 130.2083vw;
  margin: auto;
  padding: 0 15%;
  text-align: center;
  font-family: Poppins !important;

  @media (min-width: 2000px) {
    margin-top: 1.875vw;
  }
}