.container {
  height: 97vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 7.8125%;
  padding-right: 7.8125%;
}

.backgroundWrapper {
  position: relative;
}

.backgroundLine{
  position: absolute;
  left: 1.825%;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.title {
  color: #132427;
  flex-wrap: wrap;
  font-family: 'Poppins', sans-serif;
  font-size: 3.125vw;
  font-style: normal;
  font-weight: 600;
  line-height: 3.6458vw;
  text-transform: capitalize;
  margin-bottom: 0.8333vw;
}

.description {
  max-width: 37vw;
  flex-wrap: wrap;
  color: #757575;
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-size-24);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.025vw;
  margin-bottom: 3.125vw;
}

.highlightedText {
  background: var(--global-color-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.imageContainer {
  width: 80%;
}
.heroImage {
  width: 100%;
}

.button {
  width: 10vw !important;
}

@media screen and (max-width: 600px) {
  .backgroundWrapper {
    background-image: url('/about-us/mobile-dotted-bg.png');
  }

  .container {
    flex-direction: column-reverse;
    gap: 24px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  .title {
    color: #132427;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 31px;
    text-transform: capitalize;
  }

  .description {
    max-width: 100%;
    color: #757575;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
  }

  .button {
    width: 160px !important;
  }
}
