.ready-to-talk-section-wrapper {

  max-width: 1450px;
  margin: auto;
  display: flex;
  gap: 80px;
  padding: 80px 0pc;
  align-items: flex-end;

.subheading {
    color: #757575;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;

margin-top: 16px;
margin-bottom: 40px;
}

.steps {
  margin-bottom: 40px;

    p:first-child {
        color: #132427;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 54.03px; /* 168.843% */
        margin-bottom: 10px;
    }

    p:nth-child(2) {
        color: #757575;
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    


}







}

