.ready-to-talk-section-wrapper {
  margin: auto;
  display: flex;
  gap: 4.17vw;
  margin-top: 6.25vw;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;

  .ready-to-talk-content {
    .subheading {
      color: #757575;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      line-height: normal;
      margin-top: max(16px, 0.83vw);
    }

    .step-container {
      margin-top: 2.08vw;
      gap: 2.08vw;

      .steps {
        .step-header {
          display: flex;
          align-items: center;
          gap: max(18px, 0.9375vw);
          .step-icon {
            width: 28px;
            height: 32px;
          }
        }
        .step-heading {
          color: #132427;
          font-family: 'Poppins', sans-serif;
          font-size: max(28px, 1.45vw);
          font-style: normal;
          font-weight: 600;
          display: flex;
          align-items: center;
          gap: max(18px, 0.9375vw);
        }

        .step-description {
          color: #757575;
          font-family: 'Poppins', sans-serif;
          font-size: max(18px, 0.9375vw);
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }
  }

  .image-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .ready-to-talk-section-wrapper {
    padding: 0 16px;
    margin: 64px 0px;
    flex-direction: column-reverse;
    .ready-to-talk-content {
      .subheading {
        font-size: 14px !important;
        letter-spacing: 0.28px;
        margin-bottom: 24px;
      }
      .step-container {
        gap: 24px;
        .steps {
          .step-header {
            gap: 8px;
            .step-icon{
              width: 18px;
              height: 19px;
            }
          }
          .step-heading {
            font-size: 12px;
            line-height: normal;
          }
          .step-description {
            font-size: 12px;
            margin-top: 8px;
            line-height: 20px;
            letter-spacing: 0.24px;
          }
        }
      }
    }
  }
}
