.ceo-section-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2.6vw;
  margin-top: 6.25vw;

  .ceo-section-text-image {
    width: max-content;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .ceo-section-logo {
    width: max-content;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }

    @media (max-width: 899px) {
      display: none;
    }
  }
}

@media screen and (max-width: 600px) {
  .ceo-section-wrapper {
    padding: 0 16px;
    flex-direction: column;
    .ceo-section-text-image {
      width: 100%;
      svg {
        width: calc(100svw - 32px);
        height: calc(100svw - 32px);
      }
    }
  }
}
