.heading-container {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 1%;
  padding-bottom: 0.52%;
  margin-top: -10%;

  .text {
    color: #777;
    font-size: var(--font-size-24);
    font-style: normal;
    font-weight: 600;
    font-family: Poppins;
    text-align: center;

    @media (max-width: 900px) {
      font-size: 16px !important;
      font-weight: 400;
    }

    span {
      color: #eb7c0d; // Using direct orange for highlighted words
    }
  }
}


@media screen and (max-width: 390px) {
  .heading-container {
    padding-bottom: 16px;
    margin-top: 0%;

    .text {
      line-height: normal;
      letter-spacing: 0.16px;
      text-align: center;
    }
  }
}

.partner-logo-wrapper {
  width: 60%;
  height: 50%;
  position: relative;

  @media (max-width: 900px) {
    width: 90%;
    height: 90%;
  }
}