.heading-container {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;

  .text {
    color: #777;
    font-size: var(--font-size-24);
    font-style: normal;
    font-weight: 600;
    font-family: Poppins;
    text-align: center;
    line-height: 1.2;
    margin-bottom: max(16px, 1.3542vw);

    @media (max-width: 900px) {
      font-size: 16px !important;
      font-weight: 400;
    }

    span {
      color: #eb7c0d; // Using direct orange for highlighted words
    }
  }
}


@media screen and (max-width: 390px) {
  .heading-container {
    margin-top: 0%;
    .text {
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
    }
  }
}

.partner-logo-wrapper {
  width: 80%;
  height: max(38px, 3.1771vw);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 900px) {
    width: 100%;
    height: 38px;
  }
}