.heading-container {
  justify-content: center;
  margin-top: 2.6% !important;
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 1.04%;
  padding-bottom: 0.52%;

  .text {
    color: #777;
    font-size: var(--font-size-24);
    font-style: normal;
    font-weight: 600;
    line-height: 1.04%;
    font-family: Poppins;
    margin-bottom: 1.04%;
    span {
      background: var(--global-color-gradient);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip:text
    }
  }
}