.uiUxSectionWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-left: 7.8125%;
  padding-right: 7.8125%;
  padding-top: 1vw;
  padding-bottom: 2vw;
}

.background {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.heroSectionTextWrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.uiUxTitle {
  width: max(299px, 25.1vw);
  height: max(111px, 9.2vw);
}

.designTitle {
  width: max(298px, 24.9vw);
  height: max(89px, 7.3vw);
  margin-top: min(-24px, -2.08vw);
}

.textDescription {
  color: #757575;
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-size-24);
  font-style: normal;
  font-weight: 400;
  width: 75%;
  line-height: 1.979vw;
  letter-spacing: 0.038vw;
}

.imageContainer {
  position: relative;
  margin-top: 6vw;
  flex: 1;
}

.heroImage {
  width: max(210px, 35.8vw);
  height: max(255px, 43.4vw);
  object-fit: contain;
  transform: translateY(2.604vw) scale(0.95) rotateX(10deg);
  animation: fadeInBlurScaleRotate 0.9s ease-out forwards;
}

.heroImageBg {
  position: absolute;
  width: max(250px, 35.9vw);
  height: max(135px, 25.1vw);
  left: 0;
}

.tools {
  position: absolute;
  width: max(40px, 6.7vw);
  height: max(88px, 14.8vw);
  left: -1.5vw;
  top: 4.2vw;
}

@keyframes fadeInBlurScaleRotate {
  0% {
    opacity: 0.8;
    transform: translateY(2.604vw) scale(0.95) rotateX(10deg);
  }

  60% {
    opacity: 0.9;
    transform: translateY(-0.521vw) scale(1.02) rotateX(2deg);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1) rotateX(0deg);
  }
}

@media screen and (max-width: 600px) {
  .uiUxSectionWrapper {
    flex-direction: column-reverse;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 60px;
  }

  .heroSectionTextWrapper {
    justify-content: center;
    width: 100%;
    align-items: center;
  }

  .textDescription {
    margin-top: 12px;
    line-height: normal;
    width: 100%;
    text-align: center;
  }

  .background {
    display: none;
  }

  .heroImage {
    margin-left: 0px;
    margin-bottom: 24px;
    margin-top: 24px;
  }

  .heroImageBg {
    left: -20px;
    height: 180px;
  }

  .tools {
    top: 40px;
    left: -50px;
  }
}
