$hover-bg-light-aqua: #e8f9fa;
$hover-bg-light-purple: #f4ebff;
$hover-bg-light-blue: #e2effa;
$hover-bg-light-green: #e9f7ec;

.aboutUsWhyChooseUsSection {
  width: 100%;
  display: flex;
  margin-top: max(80px, 6.25vw);
  justify-content: space-evenly;

  @media screen and (max-width: 1037px) {
    flex-direction: column-reverse;
    margin-bottom: 60px;
    margin-top: 80px;
    gap: 50px;
    padding: 0 16px;
    height: auto;
  }

  @media screen and (max-width: 1037px) {
    padding: 0 7.8125%;
  }
}

.cardSection {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  gap: 4.25vw;
  /* 24px */

  @media screen and (max-width: 1037px) {
    width: 100%;
    gap: 20px;
    align-items: center;
  }

  @media (max-width: 768px) {
    width: 100%;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}

.leftSection {
  width: max-content;
  height: 100%;
  display: flex;
  gap: 3.08vw;
  /* 40px */
  flex-direction: column;

  @media screen and (max-width: 1037px) {
    width: 100%;
    gap: 20px;
    height: auto;
  }
}

.centerSection {
  width: max-content;
  margin-top: 3.6vw;
  height: 100%;
  display: flex;
  gap: 3.08vw;
  /* 40px */
  flex-direction: column;

  @media screen and (max-width: 1037px) {
    width: 100%;
    margin-top: 0;
    gap: 16px;
  }
}

.whyChooseUsCard {
  transition: background 0.15s ease-out;
}

.leftSection > :nth-child(1):hover {
  .whyChooseUsCard {
    background: $hover-bg-light-aqua !important;
  }
}

.leftSection > :nth-child(2):hover {
  .whyChooseUsCard {
    background: $hover-bg-light-purple !important;
  }
}

.centerSection > :nth-child(1):hover {
  .whyChooseUsCard {
    background: $hover-bg-light-blue !important;
  }
}

.centerSection > :nth-child(2):hover {
  .whyChooseUsCard {
    background: $hover-bg-light-green !important;
  }
}

.rightSection {
  width: 31.25vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 1037px) {
    width: 100%;
    padding: 0;
  }
}

.sectionTitle {
  margin-top: 3.6vw;
  @media (min-width: 600px) and (max-width: 900px) {
    text-align: center !important;
  }
}

.description {
  margin-top: 0.781vw;
  height: auto;
  padding-bottom: 0.26vw;
  width: 100%;
  min-width: 19.8vw;

  @media (min-width: 600px) and (max-width: 900px) {
    text-align: center !important;
  }
  @media screen and (max-width: 1037px) {
    font-size: 16px;
    width: 100%;
    min-width: unset;
    margin-top: 16px;
  }
}

.skillsSet {
  margin-top: 1.6vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2vw;

  @media (min-width: 600px) and (max-width: 900px) {
    display: none;
  }

  @media screen and (max-width: 1037px) {
    margin-top: 16px;
    gap: 16px;
  }
}

.skill {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;

  @media screen and (max-width: 1037px) {
    gap: 8px;
  }
}

.skillTitle {
  margin-bottom: 0.26vw;
  color: #424242;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  @media screen and (max-width: 1037px) {
    font-size: 18px;
    margin-bottom: 0;
  }
}

.rating {
  display: flex;
  gap: 0.7vw;

  img {
    width: 1.67vw;
    /* 32px */
    height: 1.67vw;

    @media screen and (max-width: 1037px) {
      width: 32px;
      height: 32px;
    }
  }
}

@media screen and (max-width: 600px) {
  .aboutUsWhyChooseUsSection {
    padding: 0 16px;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .leftSection,
  .centerSection {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
