.title-text {
  color: #343434;
  font-family: Inter !important;
  font-size: 32px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal;
  letter-spacing: -0.64px !important;
  gap: 4px;
  line-height: 46px;

  .last-word {
    flex-direction: column;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    .mark-container {
      margin-top: -5px;
      position: absolute;
      right: 0;
      display: flex;
      justify-content: end;
      width: 100%;
      text-align: left;
    }
  }
}
