.listTitleContainer {
  padding-bottom: max(18px, 0.9375vw);
  .listTitle {
    color: var(--global-color-primary);
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-20);
    font-weight: 600;
    position: relative;
    display: inline-block;
    line-height: 1.2;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateY(0.2em);
      width: 100%;
      height: max(1px, 0.104vw);
      background: linear-gradient(100deg, #ec6738 0%, #201f1f10 100%);
    }
  }
}
