.title-text {
  color: #343434;
  font-family: Inter !important;
  font-size: 32px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: normal;
  letter-spacing: -0.64px !important;
  gap: 4px;
  line-height: 46px;

  .last-word {
    display: inline-flex;
    flex-direction: column; /* Places icon below the text */
    align-items: center;
    white-space: nowrap;
  }

  .mark-container {
    display: flex;
    justify-content: center;
    margin-top: -5px;
  }

  .mark-icon {
    width: 150px;
    height: auto;
  }
}
