.your-ideal-choice {
  border-radius: 2.6042vw; // 50px
  background-color: #104048 !important;
  padding: 4.375vw 12.9167vw; // 84px 248px
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5625vw; // 30px
  margin: 6.25vw auto 0; // 120px auto 0
  margin-left: 3.125vw; // 60px
  margin-right: 3.125vw;

  .first-container {
    .title {
      color: #fff;
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 2.0833vw !important; // 40px
      line-height: 2.7083vw; // 52px
      letter-spacing: 0.0417vw; // 0.8px
    }

    .description {
      color: #f5f5f5;
      font-family: Poppins;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      font-size: 0.9375vw; // 18px
      letter-spacing: 0.025vw; // 0.48px
    }
  }

  .container {
    padding: 1.3021vw 1.5625vw; // 25px 30px
    border-radius: 1.0417vw; // 20px
    gap: 0.4167vw; // 8px
    display: flex;
    flex-direction: column;
    background-color: #fff;

    .icon{
      height: 2.5vw;
      width: 2.5vw;
    }
    .title {
      color: #132427;
      font-feature-settings:
        'liga' off,
        'clig' off;
      font-family: Poppins;
      font-size: var(--font-size-24);
      font-style: normal;
      font-weight: 500;
      line-height: 1.5625vw; // 30px
    }

    .description {
      color: #757575;
      font-feature-settings:
        'liga' off,
        'clig' off;
      font-family: Poppins;
      font-size: var(--font-size-16);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.0146vw; // 0.28px
    }
  }
}

