.stand-out-card {
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 30px;
  border-radius: 10px;
  background-color: black;
  box-shadow: 1px 1px 35.5px 0px rgba(0, 62, 176, 0.08);
  .stand-out-card-content {
    display: flex;
    margin-top: 31px;
    flex-direction: column;
    gap: 10px;
    .title {
      color: #fff;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .description {
      color: #fff;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px; 
    }
  }
}
