.award-proof-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 7.8125vw;  // 150px
  @media screen and (max-width: 1499px) {
    padding-bottom: 0px;
    padding-left: 1.042vw;  // 20px
    padding-right: 1.042vw; // 20px
  }
    .section-description{
      margin-top: 0.5208vw; // 10px
      width:80%;
      text-align: center;
  }
  .award-proof-list {
    margin-top: 7.8125vw; // 150px
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.0417vw; // 20px
    @media screen and (max-width: 1499px) {
      justify-content: center;
    }
  }
}
