.award-proof-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 7.8125vw; // 150px
  margin-top: 6.25vw; // consistent spacing

  .section-title{
    @media screen and (max-width: 1037px) {
      font-size: 14px;
      width: 100%;
      min-width: unset;
      text-align: left;
      padding: 24px;
      padding-bottom: 16px;
    }
  }
  .section-description {
    margin-top: 0.781vw;
    height: auto;
    padding-bottom: 0.26vw;
    color: #555;
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-18);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 90%;
    min-width: 19.8vw;
    text-align: center;

    @media screen and (max-width: 1037px) {
      font-size: 14px;
      width: 100%;
      min-width: unset;
      margin-bottom: 40px;
      text-align: left;
      padding: 24px;
      padding-top: 0;
    }
  }

  .award-proof-list {
    width: 100%;
    padding: 1% 7.8125%;
    display: flex;
    justify-content: center;
    gap: 1vw;
    flex-wrap: wrap;


    @media screen and (max-width: 1499px) {
      gap: 12px; // 20px
      justify-content: center;
    }

    @media screen and (max-width: 1037px) {
      // margin-top: 100px;
      gap: 40px;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-bottom: 40px;
    }
  }
}