.techTreeContainer {
  position: relative;
  margin-top: 6.25vw;
  overflow: hidden;
  height: 43.85vw;
  background: url('./assets/gear-bg.svg') no-repeat center center;
  background-size: cover;
}

.techTreeRight {
  position: relative;
  z-index: 2;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  gap: 2.5vw;
  padding-inline: 15vw;
}

.techTreeLeft {
  width: 50%;
}

.techTreeHeading {
  font-size: 2.5vw;
  width: 80%;
}

.techTreeDescription {
  margin-top: 0.833vw;
  font-size: max(14px, 0.94vw) !important;
  opacity: 0.85;
}

.techTreeRight svg,
.techTreeRight img {
  flex: 1;
  height: auto;
  flex-shrink: 0;
}

@media (max-width: 782px) {
  .gearContainer {
    display: none;
  }
}

@media (max-width: 768px) {
  .techTreeContainer {
    padding: 0;
    padding-top: 64px;
  }

  .techTreeLeft {
    max-width: 100% !important;
  }

  .techTreeRight {
    width: 100%;
    scale: 1;
    align-items: center;
    text-align: center;
    gap: 24px;
    padding-inline: 16px;
    padding-block: 16px;
    padding-bottom: 0;
  }

  .techTreeHeading {
    margin-top: 2vw;
    font-size: 24px;
  }

  .techTreeDescription {
    margin-bottom: 0 !important;
    font-size: 14px;
  }

  .techTreeRight svg,
  .techTreeRight img {
    margin-top: 16px;
    width: 330px;
    max-width: 100%;
    scale: 1.1;
  }
}
