.slider {
  height: 108px;
  overflow: hidden;
  position: relative;
  opacity: 0.8;
}

.slider::before,
.slider::after {
  background: linear-gradient(
    to right,
    var(--background) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 108px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  display: flex;
  gap: 120px;
  width: calc(250px * 14);

}

.slide {
  height: 108px;
  width: 250px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(calc(-250px * 7));
  }
  100% {
    transform: translateX(0);
  }
}

.slider.left .slide-track {
  animation: scroll-left 25s linear infinite;
}

.slider.right .slide-track {
  animation: scroll-right 25s linear infinite;
}
