.excellence-card {
  width: 370px;
  height: 252px;
  flex-shrink: 0;
  border-radius: 20px;
  position: relative;
  @media (max-width:1554px)  {
    width: 100%;
  }
  background: var(--background, #fff);
  .excellence-card-image {
    position: absolute;
    top: 20%;
    left: -40px;
  }
  .title {
    width: 90%;
    padding: 40px 0px 0px 70px;
    color: #132427;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
  .description {
    margin-top: 16px;
    width: 90%;
    padding-left: 70px;
    color: #757575;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
   
  }
}
