.excellence-card {
  width: 19.2708333333vw;
  height: 13.125vw;
  flex-shrink: 0;
  border-radius: 1.04166666667vw;
  position: relative;
  background: var(--global-color-primary, #fff);
  @media (max-width:1554px)  {
    width: 100%;
  }
  .excellence-card-image {
    position: absolute;
    top: 20%;
    left: -40px;
  }
  .title {
    width: 90%;
    padding: 2.08333333333vw 0px 0px 3.64583333333vw;
    color: #132427;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: max(16px , 1.15vw);
    font-style: normal;
    font-weight: 400;
  }
  .description {
    margin-top: 0.83vw;
    width: 90%;
    padding-left: 3.65vw;
    color: #757575;
    font-feature-settings: "liga" off, "clig" off;
    font-family: Poppins;
    font-size: var(  --font-size-16);
    font-style: normal;
    font-weight: 400;
   
  }
}
