.excellence-card {
  width: 19.27083vw;
  height: 13.125vw;
  flex-shrink: 0;
  box-shadow: 2px 4px 50px rgba(30, 92, 97, 0.09);
  border-radius: 1.0417vw;
  position: relative;
  background: var(--global-color-primary, #fff);
  .excellence-card-image {
    position: absolute;
    top: 20%;
    left: -40px;
  }
  .title {
    width: 90%;
    padding: 2.083vw 0px 0px 3.64vw;
    color: #132427;
    font-family: 'Poppins', sans-serif;
    font-size: max(16px, 1.15vw);
    font-style: normal;
    font-weight: 400;
  }
  .description {
    margin-top: 0.83vw;
    width: 90%;
    padding-left: 3.65vw;
    color: #757575;
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-16);
    font-style: normal;
    font-weight: 400;
  }
}

@media screen and (max-width: 600px) {
  .excellence-card {
    width: 100%;
    height: auto;
    border-radius: 16px;
    padding: 22px 16px 29px 49px;
    .excellence-card-image {
      position: absolute;
      top: 20%;
      left: -32px;
      width: 68px;
      height: 68px;
    }
    .title {
      padding: 0px;
    }
    .description {
      font-size: 12px;
      padding: 0px;
      margin-top: 8px;
      width: 100%;
    }
  }
}
