.process-section-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #F5F5F5;
    width: 100vw;

    @media (max-width: 899px) {
        background-color: transparent;
        margin-top: 80px;
    }

    .process-img {
        // width: 100%;
        // height: 100%;
        max-width: 100vw;

        @media (max-width: 899px) {
            display: none;
        }
    }

    .process-section-mobile {
        display: none;

        @media (max-width: 899px) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;


            .highlighted-text {
                color: #132427;
                flex-wrap: wrap;
                font-feature-settings:
                  'liga' off,
                  'clig' off;
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 600 !important;
                text-transform: capitalize;
                font-size: 40px !important;
                background: var(--global-color-gradient);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                
              }
              .process-image-mobile {
                margin-top: 40px;
              }
        }

    }

}