.textfieldBase {
  color: #132427 !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: var(--font-size-16) !important;
  font-style: normal;
  font-weight: 400;
  line-height: max(1.56vw, 20px) !important;
  border-radius: max(0.21vw, 4px) !important;
  background: #fff;
  padding: max(0.57vw, 11px) max(1.04vw, 20px) !important;
}
