.textfieldBase {
  color: #132427 !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: var(--font-size-16) !important;
  font-style: normal;
  font-weight: 400;
  line-height: max(1.56vw, 20px) !important;
  border-radius: 8px !important;
  background: #fff;
  padding: max(8px, 0.44vw) max(12px, 0.63vw) !important;
}

@media screen and (max-width: 768px) {
  .textfieldBase {
    padding: 8px 12px !important;
  }
}
