.contact-us-section {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: black;
  align-items: center;
  .right-container {
    pointer-events: none;
    display: flex;
    right: 10%;
    position: absolute;
    width: 55%;
    background-color: black;
  }
  .left-container {
    background-color: black;
    margin: 0 6%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    .section-title {
      color: var(--global-color-primary);
      font-family: Poppins;
      font-size: 23.963px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 30px;
    }

    .section-heading {
      margin-top: 16px;
      color: #fff;
      text-align: left;
      font-family: Poppins;
      font-size: 47.925px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .section-description,
    .office-address {
      color: white;
      font-family: Poppins;
      font-size: 19.969px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .countries-list {
      margin-top: 38px;
      margin-bottom: 38px;
      width: 100%;
      display: flex;
      gap: 25px;
    }

    .selected-country {
      margin-top: 14px;
      margin-bottom: 12px;
      font-family: Montserrat;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
      background: var(--global-color-gradient);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  /* 🔥 Smoky Animation */
  @keyframes smoke {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    50% {
      transform: translate(20px, -30px) rotate(20deg);
    }
    100% {
      transform: translate(-20px, 30px) rotate(-20deg);
    }
  }
}
