.tradition-custom-card {
  width: 15.63vw;
  height: 8.07vw;
  display: flex;
  gap: 0.99vw;
  border-radius: 1.04vw;
  align-items: center;
  border: 1px solid var(--global-color-primary, #fff);
  .image-container {
    margin-left: 1.72vw;
    width: 3.33vw;
    height: 3.33vw;
    background: var(--global-color-primary, #fff);
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      color: var(--global-color-primary, #fff);
      font-family: 'Poppins';
      font-size: max(24px, 2.6vw);
      font-style: normal;
      font-weight: 500;
      line-height: max(60px, 3.125vw); /* 120% */
    }
    .description {
      color: var(--global-color-primary, #fff);
      font-family: inherit;
      font-size: max(14px, 0.83vw);
      font-style: normal;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 600px) {
  .tradition-custom-card {
    width: calc(50% - 9px);
    height: auto;
    border-radius: 10px;
    padding: 18px 6px;
    gap: 6px;
    .image-container {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      display: grid;
      place-items: center;
      .image{
        width: 16px;
        height: 16px;
      }
    }
    .content {
      .title {
        font-size: 28px;
        line-height: 34.095px;
      }
      .description {
        font-size: 12px;
      }
    }
  }
}
