.tradition-custom-card {
  width: 15.63vw;
  height: 8.07vw;
  display: flex;
  gap: 0.99vw;
  border-radius: 1.04vw;
  align-items: center;
  border: 1px solid var(--global-color-primary, #fff);

  @media (max-width: 1499px) {
    width: 250px;
  }

  .image-container {
    margin-left: 1.72vw;
    width: 3.33vw;
    height: 3.33vw;
    background: var(--global-color-primary, #fff);
    border-radius: 50%;
    display: grid;
    place-items: center;
    @media (max-width: 1499px) {
      margin-left: 15px;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      color: var(--global-color-primary, #FFF);
      font-family: Poppins;
      font-size: max(24px , 2.60vw);
      font-style: normal;
      font-weight: 500;

      @media (max-width: 1499px) {
        font-size: 36px;
      }
    }
    .description {
      color: var(--global-color-primary, #fff);
      font-feature-settings: "liga" off, "clig" off;
      font-family: Poppins;
      font-size: max(14px,0.83vw);
      font-style: normal;
      font-weight: 600;
    }
  }
}
