.card {
  min-height: 8.07vw;
  height: 100%;
  padding: 1.5625vw;
  display: flex;
  gap: 0.99vw;
  border-radius: 1.04vw;
  align-items: center;
  border: 0.568px solid var(--White, #FFF);
}

.imageContainer {
  width: 3.33vw;
  height: 3.33vw;
  background: var(--global-color-primary, #fff);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  color: var(--global-color-primary, #fff);
  font-family: 'Poppins';
  font-size: max(24px, 2.6vw);
  font-style: normal;
  font-weight: 500;
  line-height: max(32px, 3.125vw);
}

.description {
  color: var(--global-color-primary, #fff);
  font-family: inherit;
  font-size: max(14px, 0.83vw);
  font-style: normal;
  font-weight: 600;
  min-width: max-content;
}

/* ---------- Large Tablet ---------- */
@media screen and (max-width: 1200px) {
  .card {
    width: 19.625vw;
    min-height: 10.07vw;
  }

  .imageContainer {
    width: 4.33vw;
    height: 4.33vw;
  }

  .imageContainer svg {
    width: 2.2vw;
    height: 2.2vw;
  }
}

/* ---------- Tablet ---------- */
@media screen and (max-width: 900px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .content {
    align-items: center;
  }

  .title,
  .description {
    text-align: center;
  }

  .imageContainer {
    width: 5.33vw;
    height: 5.33vw;
  }

  .imageContainer svg {
    width: 2.7vw;
    height: 2.7vw;
  }
}

/* ---------- Mobile ---------- */
@media screen and (max-width: 600px) {
  .card {
    flex-direction: row;
    width: 100%;
    height: 100%;
    min-height: 88px;
    border-radius: 10px;
    padding: 16px 8px;
    gap: 8px;
  }

  .imageContainer {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }

  .image {
    width: 16px !important;
    height: 16px !important;
  }

  .content {
    align-items: unset;
  }

  .title {
    font-size: 28px;
    line-height: 34px;
    text-align: left;
  }

  .description {
    font-size: 12px;
    text-align: left;
    letter-spacing: 0px;
  }
}