:root {
  --background: #ffffff;
  --foreground: #000;
  --primary: #ffa750;
  --text: #727272
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

::selection {
  color: var(--background);
  background: lightgray;
}

body {
  font-family: Inter !important;
  font-style: normal !important;
  color: var(--foreground);
  background: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
