:root {
  --global-color-primary: #ffffff;
  --global-color-secondary: #000;
  --global-color-accent: #ffa750;
  --global-color-text: #727272;
  --global-color-gradient: linear-gradient(99deg, #eb7c0d 3.23%, #ffa750 97.72%);
  --global-color-dark-gradient: linear-gradient(99deg, #ffa750 3.23%, #eb7c0d 97.72%);
  --Neutral-Grey-G900: #212529;
  --global-font-family: Poppins;
}

.flicker-logo {
  width: 400px;
  height: 400px;
  animation: flickerAnimation 1.5s infinite alternate;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

html,
body {
  max-width: 100vw;
  font-size: 62.5%;
}
::-webkit-scrollbar {
  display: none;
}

::selection {
  color: var(--global-color-primary);
  background: lightgray;
}

body {
  font-family: Inter !important;
  font-style: normal !important;
  color: var(--global-color-secondary);
  background: var(--global-color-primary);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
