.stand-out-card {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  @media screen and (max-width: 1499px) {
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  img{
    position: relative;
    z-index: 2;
  }
  .stand-out-card-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .title {
      color: #fff;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .description {
      color: #fff;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 400 !important;
      line-height: 26px; 
      @media screen and (max-width: 1337px) {
        font-size: 13px !important; 
       }
    }
  }
}
