.stand-out-card {
  width: 100%;
  min-height: 14.583vw; /* 280px */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.042vw; /* 20px */
  padding: 1.563vw; /* 30px */
  border-radius: 0.521vw; /* 10px */
  position: relative;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  @media screen and (max-width: 899px) {
    flex-direction: column;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.667vw; /* 12.8px */
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.9) 0.21%,
      rgba(0, 0, 0, 0.7) 50.98%,
      rgba(0, 0, 0, 0.3) 99.76%
    );
    z-index: 1;
  }

  & > * {
    z-index: 2;
  }

  &:nth-child(2)::before {
    border-radius: 0.667vw; /* 12.8px */
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.9) 0.21%,
      rgba(0, 0, 0, 0.7) 50.98%,
      rgba(0, 0, 0, 0.3) 99.76%
    );
  }

  .icon-container {
    width: max(6.667vw, 7.813vw); /* max(128px, 150px) */
    height: max(6.667vw, 7.813vw); /* max(128px, 150px) */
    display: flex;
    justify-content: center;
  }

  img {
    position: relative;
    z-index: 2;
  }

  .stand-out-card-content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 0.521vw; /* 10px */

    .title {
      color: var(--global-color-primary);
      font-family: Poppins;
      font-size: var(--font-size-24);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .description {
      color: var(--global-color-primary);
      font-family: Poppins;
      font-size: var(--font-size-18);
      font-style: normal;
      font-weight: 400 !important;
      line-height: 1.354vw; /* 26px */
    }

    @media screen and (max-width: 899px) {
      text-align: center;
    }
  }
}
