.about-us-business-card-container {
  overflow: hidden;
  z-index: 0;
  height: 332px;
  flex: 1;
  justify-content: center;
  cursor: default;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  box-shadow: 1px 1px 35.5px 0px rgba(0, 62, 176, 0.08);
  position: relative;
  background: var(--global-color-primary);
  transition: background 0.3s ease;

  @media (min-width: 600px) and (max-width: 1420px) {
    min-width: 30vw;
  }
  @media screen and (max-width: 599px) {
    min-width: 50vw;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
  }

  &:nth-child(1)::before {
    background: linear-gradient(180deg, #65d6de 0%, #001617 258.51%);
  }

  &:nth-child(2)::before {
    background: linear-gradient(180deg, #3c95db 0%, #e00094 258.51%);
  }

  &:nth-child(3)::before {
    background: linear-gradient(180deg, #b47bff 0%, #e00094 258.51%);
  }

  &:nth-child(4)::before {
    background: linear-gradient(180deg, #6cc77d 0%, #000902 317.38%);
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }

  @media screen and (max-width: 1699px) {
    width: 325px !important;
  }

  .business-card-icon-container {
    width: 100%;
    position: relative;
    padding: 16px;
    .icon {
      border-radius: 50%;
      padding: 18px;
      width: 5vw;
      height: 5vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .business-card-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: max(16px, 1.042vw);
    box-sizing: border-box;

    .business-card-title {
      font-family: 'Poppins', sans-serif;
      font-size: var(--font-size-24) !important;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .business-card-description {
      font-family: 'Poppins', sans-serif;
      font-size: var(--font-size-16) !important;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
