.email {
  margin-top: max(12px, 0.63vw);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  background-color: var(--global-color-primary);
  border-radius: max(6px, 0.31vw);
  overflow: hidden;
  @media screen and (max-width:600px) {
    margin-bottom: 24px;
    
  }
  .input-field {
    flex: 1;
    height: max(42px, 2.19vw); // 42px
    background-color: var(--global-color-primary);
    border-radius: max(6px, 0.31vw); // 6px
    padding: max(10px, 0.52vw) !important; // 10px
    box-shadow: 0vw 0.21vw 0.68vw 0vw rgba(0, 0, 0, 0.1); // 0px 4px 13px 0px
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;

    .input {
      padding: 0 !important;
      padding-right: max(10px, 0.52vw) !important;
      font-family: 'Poppins', sans-serif;
      font-size: var(--font-size-16) !important;
      font-style: normal;
      font-weight: 300;
    }
  }

  .submit-button {
    font-family: 'Poppins', sans-serif;
    font-size: max(13px, 0.67vw);
    font-style: normal;
    height: 32px;
    font-weight: 500 !important;
    color: var(--global-color-primary);
    border-radius: max(6px, 0.31vw);
    background: linear-gradient(75deg, #eb7c0d 4.02%, #ffa750 83.84%);
    box-shadow: none;
    &:hover {
      box-shadow: none;
    }
  }
}

.social-media-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(2, 0.1fr);
  }
  .icons {
    width: max(40px, 2.81vw);
    height: max(40px, 2.81vw);
  }
}

.footer-section {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    133deg,
    #fff -35.26%,
    rgba(68, 68, 68, 0.8) -11.98%,
    #000 78.97%
  );

  .logo-category-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid #c5c5c595;
    gap: 0px;
    padding: 0 7.8125%;

    .logo-wrapper {
      margin: auto;

      .logo {
        width: 100%;
        height: 22.83vw;
        object-fit: contain;
        flex-shrink: 0;
      }
    }

    .category-wrapper {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.87vw 0;
      padding-left: max(100px, 5.2vw);
      gap: 1.67vw;

      .service-category-quick-links-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2.19vw;
        .service-category {
          flex: 1;
        }
      }

      .consulting-category-contact-wrapper {
        margin-top: 1.04vw;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2.59vw;

        .consulting-category {
          flex: 1;
        }
      }
    }
  }

  .header {
    width: 100%;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #c5c5c595;
    gap: 45px;

    .logo-wrapper {
      padding-top: 8px;
      padding-bottom: 8px;
      display: flex;
      .logo {
        width: max(10.7vw, 128px);
        filter: drop-shadow(
          0 max(0.33vw, 6.4px) max(0.33vw, 6.4px) rgba(0, 0, 0, 0.25)
        );
      }
    }

    .branding {
      color: var(--global-color-primary);
      padding: max(57px, 2.96vw) 0;
      width: 50% !important;
      font-size: var(--font-size-18);
      font-weight: 300 !important;
      text-align: center;
    }
  }

  .copyright {
    margin: auto;
    padding-top: 0.83vw;
    padding-bottom: 0.83vw;

    p {
      margin-bottom: 0;
      color: var(--global-color-primary);
    }
  }
}

.list-container {
  display: flex;
  gap: 2.59vw;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list {
  margin-top: 1.04vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.31vw;
}

@media screen and (max-width: 1024px) {
  .footer-section {
    padding: 0 7.8125%;
    @media screen and (max-width: 600px) {
      padding: 0;
    }
    @media (min-width: 601px) and (max-width: 768px) {
      padding: 0 24px;
    }
    .header {
      gap: 24px;
      align-items: center;
      height: max-content !important;
      justify-content: space-between;
      padding: 16px;
      padding-left: 26px;
      padding-right: 12px;

      .logo-wrapper {
        margin-left: 0px !important;

        .logo {
          width: 100px;
          height: 118px;
        }
      }

      .branding {
        text-align: left !important;
        font-size: 12px;
        flex: 1;
        color: #fff;
        padding: 10px 0;
        line-height: 20.042px !important;
        letter-spacing: 0.24px !important;
        margin-bottom: 0px;
      }
    }

    .logo-category-wrapper {
      padding: 0;
      .category-wrapper {
        width: 100%;
        padding: 16px;

        .consulting-category-contact-wrapper {
          .consulting-category {
            width: 100%;
          }

          .quick-links-social-media-wrapper {
            width: 100%;
          }

          .social-media-link {
            flex: 1;
            width: 100%;

            .social-media-list {
              gap: 10px;
              padding: 10px;
              padding-left: 0;

              .icons {
                width: 40px;
                height: 40px;
              }
            }
          }
        }
      }
    }
  }

  .social-media-list {
    gap: 16px;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .footer-section {
    .header {
      padding: 0 7.1825%;
      justify-content: space-between;
      .branding {
        flex: 1;
      }
    }
    .logo-category-wrapper {
      .category-wrapper {
        padding-left: 0;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1424px) {
  .footer-section {
    .header {
      .logo-wrapper {
        padding-top: 24px !important;
        padding-bottom: 24px !important;

        .logo {
          width: max(7.5vw, 96px) !important;
          height: auto !important;
        }
      }
    }
  }
}
