$desktop-padding: 8.125vw 10% 6.25vw 7.8%;

.quality-hero-section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 9.5%;
  margin-top: -3.5vw;
  height: 49.4vw;
  gap: max(5.21vw, 10.9375vw);

  .quality-background {
    z-index: -1;
    position: absolute;
  }

  .first-section {
    max-width: 35vw;
    z-index: 2;

    .first-section-content {
      width: 100%;

      .subheading {
        color: #757575;
        margin-top: max(16px, 0.9375vw);
        margin-bottom: max(60px, 3.55vw);
      }
    }

    .stats-img-container {
      display: flex;
      gap: 2vw;
      width: max-content;
    }
  }

  .quality-img-container {
    position: relative;
    flex: 1;
    height: 31.25vw;

    .quality-img-dashed-arrow {
      width: 6.9vw;
      height: 5.4vw;
      position: absolute;
      top: 7%;
      left: 18%;
    }

    .quality-img-1-container {
      position: absolute;
      bottom: -4%;
      left: 10%;
      padding-top: max(38px, 1.98vw);
      padding-left: max(38px, 1.98vw);
      z-index: 1;

      .quality-img-quotes {
        position: absolute;
        left: 0;
        height: max(38px, 1.98vw);
        width: max(38px, 1.98vw);
        top: 0;
      }

      .quality-img-1 {
        background: url('/how-we-work/quality/image-1.png') center / cover
          no-repeat;
        width: 16.14vw;
        height: 21.9vw;
        border-radius: max(20px, 1.04vw);
        box-shadow: 0.1vw 0.2vw 2.6vw rgba(30, 92, 97, 0.09);
      }
    }

    .quality-img-2 {
      position: absolute;
      left: 40%;
      top: 10%;
      width: 16.14vw;
      height: 23.64vw;
      border-radius: max(20px, 1.04vw);
      background: url('/how-we-work/quality/image-2.png') center / cover
        no-repeat;
      box-shadow: 0.1vw 0.2vw 2.6vw rgba(30, 92, 97, 0.09);
    }
  }

  .quality-img-mobile {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1152px) {
  .quality-hero-section-wrapper {
    height: auto;
    padding: $desktop-padding;
    padding-top: 90px;

    .quality-background {
      opacity: 0.6;
    }

    .first-section {
      flex: auto;
      max-width: 56%;

      .subheading {
        font-size: 14px;
        line-height: 21px;
      }
    }

    .quality-img-container {
      margin-left: -40px;

      .quality-img-1-container {
        left: -8%;
      }
    }
    .stats-img-container{
      width: 100% !important;
      gap: 32px !important;
    }
  }
}

@media (min-width: 901px) and (max-width: 1152px) {
  .quality-hero-section-wrapper {
    .first-section {
      max-width: 56%;
    }
    .quality-img-1-container {
      left: -10%;
    }
  }
}

@media screen and (max-width: 767px) {
  .quality-hero-section-wrapper {
    height: auto;
    flex-direction: column;
    margin-top: 80px;
    padding: 0px 16px;
    padding-bottom: 110px;
    @media (min-width: 400px) and (max-width: 472px) {
      padding-bottom: 120px;
    }
    @media (min-width: 473px) and (max-width: 767px) {
      padding-bottom: 150px;
    }
    .quality-background {
      display: none;
    }
    .first-section {
      max-width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      .subheading {
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        margin: 16px 0 40px 0;
      }
    }
    .stats-img-container {
      background: transparent;
      flex-direction: column;
      width: 70% !important;
    }
    .quality-img-container {
      position: absolute;
      width: 550px;
      .quality-img-dashed-arrow {
        width: 100px;
        height: 100px;
        left: unset;
        right: 150px;
        top: -60px;
      }
      .quality-img-1-container {
        left: 0%;
        top: 120%;
        padding-right: 40px;
        padding-left: 0px;
        .quality-img-quotes {
          left: 80%;
          top: 40%;
          height: 24px;
          transform: rotate(78deg);
        }
        .quality-img-1 {
          width: 170px;
          height: 230px;
        }
      }
      .quality-img-2 {
        width: 170px;
        left: unset;
        right: 0%;
        height: 247px;
      }
    }
  }
}
