.quality-hero-section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  position: relative;
  padding: 0 9.5%;
  margin-top: -3.5vw;
  height: 49.4vw;
  gap: max(5.21vw, 10.9375vw);

  .quality-background {
    z-index: -1;
    position: absolute;
  }

  .first-section {
    max-width: 35vw;
    z-index: 2;
    align-items: flex-start;

    .first-section-content {
      width: 100%;
      .quality-title {
        font-size: 2.08vw !important;
      }

      .subheading {
        color: #757575;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        line-height: normal;
        margin-top: max(16px, 0.9375vw);
        margin-bottom: max(60px, 3.55vw);
      }
    }

    .stats-img-container {
      display: flex;
      flex-direction: row;
      gap: 2vw;
      flex-wrap: nowrap;
      width: max-content;
    }
  }

  .quality-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
    flex: 1;
    height: 31.25vw;

    .quality-img-dashed-arrow {
      width: 6.9vw;
      height: 5.4vw;
      position: absolute;
      top: 7%;
      left: 18%;
    }
    .quality-img-1-container {
      background: transparent;
      position: relative;
      bottom: -4%;
      left: 10%;
      position: absolute;
      padding-top: 2vw;
      padding-left: 2vw;
      transform: rotateZ(-16deg);
      z-index: 1;
      .quality-img-quotes {
        position: absolute;
        left: 0;
        top: 0;
        svg {
          height: 1.98vw;
          width: 1.98vw;
        }
      }

      .quality-img-1 {
        background: url('/how-we-work/quality/image-1.png') lightgray 50% /
          cover no-repeat;
        box-shadow: 0.1vw 0.2vw 2.6vw 0 rgba(30, 92, 97, 0.09);
        width: 16.14vw;
        height: 21.9vw;
        border-radius: 1.04vw;
        z-index: 1;
      }
    }

    .quality-img-2 {
      width: 16.14vw;
      position: absolute;
      background: url('/how-we-work/quality/image-2.png') lightgray 50% / cover
        no-repeat;
      box-shadow: 0.1vw 0.2vw 2.6vw 0 rgba(30, 92, 97, 0.09);
      height: 23.64vw;
      left: 40%;
      top: 10%;
      transform: rotateZ(15deg);
      border-radius: 20px;
    }
    .quality-img {
      object-fit: contain;
    }
  }

  .quality-img-mobile {
    display: none;
  }

  .vertical-dotted-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 8.02vw;
    height: 13.96vw;
  }

  .graph-icon {
    position: absolute;
    bottom: -6.25vw;
    left: 7%;
  }

  .top-right-dotted-image {
    position: absolute;
    top: -5.73vw;
    right: 0.52vw;
    width: 5.21vw;
    height: 7.81vw;
  }
}

/* ================= MOBILE ================= */
@media screen and (max-width: 1099px) {
  .quality-hero-section-wrapper {
    padding: 0 16px;
    margin: 0;
    gap: 32px;
    margin-top: 80px;
    max-width: 100svw;
    overflow: hidden;
    flex-direction: column;
    position: relative;

    .top-right-dotted-image,
    .graph-icon,
    .vertical-dotted-image {
      display: none;
    }

    .quality-img-container {
      display: none;
    }

    .quality-img-mobile {
      display: initial;
      height: auto;
      width: 577.8px !important;
      height: 462.2px !important;
    }

    .first-section {
      max-width: 100%;
      width: 100%;

      .first-section-content {
        padding-left: 0;
        width: 100%;

        .quality-title {
          font-size: 28px !important;
        }

        .subheading {
          margin-top: 16px;
          margin-bottom: 0;
          width: 100%;
          font-size: 14px;
        }
      }

      .stats-img-container {
        justify-content: center;
        flex-wrap: wrap;
        width: 100% !important;
        gap: 16px;
        position: absolute;
        scale: 0.7;
        transform: rotate(-18deg) translate(-10%, -12%);
      }
    }
  }
}
