.about-us-business-card-container {
  overflow: hidden;
  z-index: 0;
  height: 332px;
  flex: 1;
  justify-content: center;
  cursor: default;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  box-shadow: 1px 1px 35.5px 0px rgba(0, 62, 176, 0.08);
  position: relative;
  background: var(--global-color-primary);
  transition: background 0.3s ease;

  @media (min-width: 600px) and (max-width: 1420px) {
    min-width: 30vw;
  }
  @media screen and (max-width: 599px) {
    min-width: 50vw;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
  }

  &.support::before {
    background: linear-gradient(180deg, #65d6de 0%, #001617 258.51%);
  }

  &.readymade::before {
    background: linear-gradient(180deg, #3c95db 0%, #e00094 258.51%);
  }

  &.customization::before {
    background: linear-gradient(180deg, #b47bff 0%, #e00094 258.51%);
  }

  &.fast::before {
    background: linear-gradient(180deg, #6cc77d 0%, #000902 317.38%);
  }

  &.support:hover::before,
  &.readymade:hover::before,
  &.customization:hover::before,
  &.fast:hover::before {
    opacity: 1;
  }

  &:hover #element_bg {
    stroke: white;
    fill: white;
  }

  &:hover #element_front,
  &:hover #element_back {
    transition: all 0.5s;
  }

  &:hover #element_front {
    transform: translateX(1.302vw);
  }

  &:hover #element_back {
    transform: translateX(4.948vw);
  }

  &:hover #element_front path,
  &:hover #element_front circle,
  &:hover #element_back path,
  &:hover #element_back circle {
    stroke: white;
    fill: white;
  }

  @media screen and (max-width: 1699px) {
    width: 325px !important;
  }

  .business-card-icon-container {
    width: 100%;
    padding: max(16px, 1.042vw);

    .icon {
      width: max(92px, 10.33vw) !important;
      height: max(91.737px, 4.27vw) !important;
    }
  }

  .business-card-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: max(16px, 1.042vw);
    box-sizing: border-box;

    .business-card-title {
      color: #383838;
      font-family: Poppins;
      font-size: var(--font-size-24) !important;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .business-card-description {
      color: #565656;
      font-family: Poppins;
      font-size: var(--font-size-16) !important;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &:hover .business-card-title,
  &:hover .business-card-description {
    color: white;
  }
}
