.app-bar-container{
    background-color: var(--background) !important;
    z-index: 400;
    
    button {
        font-size: 1.6rem !important;
        font-style: normal;
        font-weight: 400;
        line-height: 20.01px;
        padding: 10.005px 16.008px;
        border-radius: 43.022px;
        justify-content: center;
        align-items: center;
      }
}
