.action-links-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.action-links {
  color: #000 !important;
  width: 466px;
  height: 41px;
  overflow: hidden;
  background: var(--background);
  display: flex;
  justify-content: space-evenly;
  border-radius: 22.11px;
  box-shadow: 0px 5px 18.8px 0px rgba(0, 0, 0, 0.1);
}

.action-links-wrapper button {
  font-size: 1.6rem !important;
  font-style: normal;
  font-weight: 400;
  line-height: 20.01px;
  padding: 10.005px 16.008px;
  border-radius: 43.022px;
  justify-content: center;
  align-items: center;
}