.action-links-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.action-links {
  color: #000 !important;
  width: 466px;
  height: 41px;
  overflow: hidden;
  background: var(--background);
  display: flex;
  justify-content: space-evenly;
  border-radius: 22.11px;
  box-shadow: 0px 5px 18.8px 0px rgba(0, 0, 0, 0.10);
}
