.rating-card {
  width: max(max-content, 27.979vw); /* 279.423px */
  height: 7.832vw; /* 150.38px */
  flex-shrink: 0;
  display: flex;
  height: max-content;
  padding: max(16px,1.042vw); /* 20px */
  gap: 0.521vw; /* 10px */
  border-radius: 2.778vw 0vw; /* 53.333px 0px */
  @media screen and (max-width:1060px) {
    min-width: 46%;
  }

  .rating-card-icon {
    width: 5.833vw; /* 112px */
    height: 5.833vw; /* 112px */
    border-radius: 50%;
  }

  .rating-card-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 0.260vw; /* 5px */
    .rating {
      color: #132427;
      font-family: Poppins;
      font-size: var(--font-size-24);
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .description {
      color: #132427;
      font-family: Poppins;
      font-size: max(12px, 0.833vw) !important;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
}