.rating-card {
  flex: 1;
  height: 198px;
  flex-shrink: 0;
  display: flex;
  padding: 39px;
  gap: 10px;
  border-radius: 53.333px 0px;
  @media screen and (max-width: 1200px) {
    border-radius: 23.333px 0px;
  }
  .rating-card-icon {
    width: 112px;
    height: 112px;
    @media screen and (max-width: 1499px) {
      width: calc(112px * 0.5);
      height: calc(112px * 0.5);
    }
  }
  .rating-card-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 5px;
    .rating {
      color: #000;
      font-family: Montserrat;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: 38.921px;
      @media screen and (max-width: 1499px) {
        font-size: 20px;
        line-height: 15px
      }
    }
    .description {
      color: #000;
      font-family: Montserrat;
      font-size: 19.461px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px;
      @media screen and (max-width: 1499px) {
        font-size: 12px;
      }
    }
  }
  @media (max-width: 1499px) {
    padding: calc(39px * 0.5) !important;
    width: calc(367px * 0.5);
    height: calc(198px * 0.5);
  }
}
