.rating-card {
  width: 14.553vw;
  flex-shrink: 0;
  display: flex;
  height: max-content;
  padding: 1.042vw;
  gap: 0.521vw;
  border-radius: 2.778vw 0;

  @media screen and (max-width: 1200px) {
    border-radius: 1.215vw 0;
  }

  .rating-card-icon {
    width: 5.833vw;
    height: 5.833vw;
    border-radius: 50%;

    @media screen and (max-width: 1499px) {
      width: calc(5.833vw * 0.5);
      height: calc(5.833vw * 0.5);
    }
  }

  .rating-card-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 0.260vw;

    .rating {
      color: #132427;
      font-family: Poppins;
      font-size: 1.667vw;
      font-style: normal;
      font-weight: 500;
      line-height: normal;

      @media screen and (max-width: 1499px) {
        font-size: 1.042vw;
        line-height: 0.781vw;
      }
    }

    .description {
      color: #132427;
      font-family: Poppins;
      font-size: 0.833vw;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      min-width: max-content;

      @media screen and (max-width: 1499px) {
        font-size: 0.625vw;
      }
    }
  }

  @media (max-width: 1499px) {
    padding: calc(2.031vw * 0.5) !important;
    width: calc(19.115vw * 0.5);
    height: calc(10.313vw * 0.5);
  }
}