.ready-to-talk-wrapper {
  padding: 6.25vw 11.45vw;
  padding-bottom: 0;
}

/* ================= DESKTOP ================= */
.ready-to-talk-container {
  position: relative;
  max-width: 100vw;
  border-radius: 1.25vw;
  background: url('./assets/ready-to-talk-banner.svg') center / cover no-repeat;
  box-shadow: 0 1.04vw 3.125vw rgba(0, 0, 0, 0.12);

  display: flex;
  align-items: center;
  gap: 2.5vw;
  padding: 1.82vw 11.45vw;
  padding-bottom: 0;
  overflow: hidden;
}

/* WHITE OVERLAY */
.ready-to-talk-container::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.35);
  /* adjust opacity */
  z-index: 1;
}

/* KEEP CHILDREN ABOVE OVERLAY */
.ready-to-talk-container>* {
  position: relative;
  z-index: 2;
}


/* IMAGE */
.rtt-image {
  flex: 0 0 42%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.rtt-image svg,
.rtt-image img {
  width: 100%;
  height: auto;
  max-height: 22.88vw;
  /* 420px */
  object-fit: contain;
}

/* CONTENT */
.rtt-content {
  flex: 1;
  max-width: 35vw;
  display: flex;
  flex-direction: column;
  gap: 0.83vw;
  /* 16px */
}

.rtt-heading {
  font-size: max(20px, 1.35vw) !important;
}

.rtt-subheading {
  max-width: 90%;
}

.rtt-button {
  width: max(180px, 9.375vw) !important;
}

/* ================= TABLET ================= */
@media (max-width: 1024px) {

  .ready-to-talk-container {
    gap: 32px;
    padding: 2.25vw !important;
  }

  .rtt-image {
    background-position: 90% !important;
  }

  .rtt-image svg,
  .rtt-image img {
    background-position: 30% !important;
    max-height: 31.88vw;
    /* 420px */
  }

  .ready-to-talk-wrapper {
    margin-top: 60px;
    padding: 0 !important;
  }

  .ready-to-talk-container {
    gap: 32px;
    padding: 2.25vw !important;
    padding-bottom: 0px !important;
  }


}

/* ================= MOBILE ================= */
@media (max-width: 768px) {
  .ready-to-talk-container {
    flex-direction: column;
    padding: 0;
    gap: 0;
    background: none;
    box-shadow: none;
    text-align: center !important;

  }

  .rtt-image {
    width: 100%;
    background: url('./assets/ready-to-talk-banner.svg') center / cover no-repeat;
    padding: 32px 16px 0;
  }

  .rtt-image svg,
  .rtt-image img {
    max-height: 280px;
    margin-left: -35%;
  }

  .ready-to-talk-container {
    gap: 0;
    padding: 0 !important;
  }

  .rtt-content {
    width: 100%;
    max-width: 100%;
    padding: 24px 16px 32px;
    gap: 16px;
    text-align: center;
    align-items: center;
    background: #fff9e9;
  }


  .rtt-heading {
    text-align: center !important;
    max-width: 100%;
  }

  .rtt-subheading {
    text-align: center !important;
    max-width: 100%;
  }
}