.ready-to-talk-shared-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4%;

    .ready-to-talk-shared-container {
      width: 100%;
      max-width: 75vw; // 1440px → 75vw
      margin: 0 auto;
      border-radius: 1.25vw; // 24px → 1.25vw
      height: 26.6667vw; // 512px → 26.67vw
      background: #FFFFF9;
      box-shadow: 0.1041vw 0.2083vw 2.2031vw 0vw rgba(0, 0, 0, 0.14); // 2px 4px 42.3px
      background-image: url("./assets/ready-to-talk-banner.svg");
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 4%;
  
      .image-container {
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
  
        .rtt-img {
          width: 100%;
        }
      }
  
      .ready-to-talk-shared-content {
        gap: 1.25vw; // 24px → 1.25vw
        max-width: 28.9583vw; // 556px
  
        .heading {
          color: #424242 !important;
          font-family: Montserrat !important;
        }
  
        .subheading {
          color: #747474;
          font-family: Montserrat !important;
          font-style: normal;
          margin-bottom: 2.2917vw; // 44px
        }
  
        .rtt-button {
          color: #FFF;
          font-family: Montserrat;
          font-size: 0.9375vw; // 18px
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          width: 7.8646vw; // 151px
          height: 2.0833vw; // 40px
          border-radius: 0.2083vw; // 4px
          background: linear-gradient(75deg, #EB7C0D 4.02%, #FFA750 83.84%);
        }
      }
    }
  }
  