.globe {
  margin-top: 75px;
}

.globe .content {
  display: flex;
  padding: 60px 100px;
  background:   linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
  url("/earth.webp");
  background-color: grey;
  justify-content: space-between;
  background-position: 0 0%;
  
}

.globe .content .right-container-wrapper {
  display: flex;
  flex: 1;
}

.globe .content .left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.globe .content .header {
  padding: 0px;
}

.globe .content .left-container .header p {
  color: #fff;
  font-family: var(--font-primary);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

.globe .content .left-container .sub-header p {
  color: white;
  font-family: var(--font-primary);
  font-size: 100px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.globe .content .left-container .globe-footer p {
  color: #fff;
  font-family: var(--font-primary);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.globe .content .right-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  flex : 1;
}

.globe .content .right-container div {
  border-left: 2px solid white;
  padding: 40px 0px 40px 40px
}

.globe .content .right-container div p:first-child {
  color: #fff;
  font-family: var(--font-primary);
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.globe .content .right-container div p:nth-child(2) {
  color: #fff;
  font-family: var(--font-primary);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@keyframes TopToDown {
  0% {
    transform: translateY(-1200px) scale(1);
    opacity: 1;
  }

  80% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    background-position: 0 0; /* Start position */
  }
  100% {
    background-position: 0 100%; /* End position */
  }
}

.animate_TopToDown {
  opacity: 0;
  animation: backInDown 1s ease forwards;
}

.animate_Earth {
  animation: slide 3s forwards;
  /* background-position: 0 100%;  */
}


@media (max-width: 1450px) and (min-width: 1200px) {
 .globe .content .left-container .globe-footer p {
  font-weight: 500;
 }
 
 .globe .content .right-container div p:nth-child(2) {
  font-weight: 500;
}

}

@media (max-width: 1366px) and (min-width: 1200px) {
  .globe {
    margin-top: 25px;
  }
  .globe .content {
    padding: 40px 50px;
    gap: 150px;
  }
  .globe .content .left-container .header p {
    font-size: 36px;
  }
  .globe .content .right-container div {
    padding: 20px;
  }
  .globe .content .right-container div p:first-child {
    font-size: 50px;
  }
  .globe .content .right-container {
    gap: 10px;
  }
  .globe .content .left-container .sub-header p {
    font-size: 75px;
  }
}

@media (max-width: 1200px) {
  .globe {
    margin-top: 70px;
  }
  .globe .content {
    padding: 29px 16px;
    gap: 29px;
    
  }
  .globe .content .left-container {
    gap: 8px;
  }


  .globe .content .left-container .header p {
    font-size: 14px;
  }

  .globe .content .left-container .globe-footer p {
    color: #fff;
    font-family: var(--font-primary);
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  .globe .content .right-container div {
    padding: 10px 0px 10px 10px;
  }
  .globe .content .right-container div p:first-child {
    font-size: 14px;
  }

  .globe .content .right-container div p:nth-child(2) {
    font-size: 10px;
    font-weight: 300;
  }

  .globe .content .right-container {
    gap: 10px;
  }
  .globe .content .left-container .sub-header p {
    font-size: 24px;
  }

   
  
  .animate_Earth {
    animation: slideMobile 5s forwards;
    /* background-position: 0 100%;  */
  
  }
  

  .globe .content {
    background-size: cover;
  }
  
  @keyframes slideMobile {
    0% {
      background-position: 50% 0%; /* Start position */
    }
    100% {
      background-position: 50% 100%; /* End position */
    }
  }
  





}



@media (max-width: 600px) {

  .globe .content {

    flex-direction: column;
    align-items: center;
  }

  .globe .content .left-container .header p {

   text-align: center;
  }
  
  .globe .content .left-container {
    align-items: center;
  }

  .globe .content .right-container-wrapper {
    display: flex;
   
  }
  




}
