.servicesLayoutWrapper {
  margin-top: calc(-1 * (max(52px, 2.71vw) + 2 * max(14px, 0.73vw)));
  position: relative;
  width: 100%;

  @media screen and (max-width: 1024px) {
    margin-top: -76px;
  }

  @media screen and (max-width: 1000px) {
    margin-top: -46px;
  }
}
