$hover-bg-light-aqua: #e8f9fa;
$hover-bg-light-purple: #f4ebff;
$hover-bg-light-blue: #e2effa;
$hover-bg-light-green: #e9f7ec;

.about-us-why-choose-us-section {
  width: 100%;
  margin-bottom: 5.208vw; /* 100px */
  gap: 3.646vw; /* 70px */
  display: flex;
  @media screen and (max-width:1174px) {
    flex-direction: column-reverse;
  }
  .card-section {
    width: max-content;
    display: flex;
    gap: max(1.042vw, 2.604vw); /* max(20px, 50px) */
    @media screen and (max-width: 1149px) {
      flex-wrap: wrap;
    }
    .left-section {
      width:max-content;
      height: 100%;
      display: flex;
      gap: 2.604vw; /* 50px */
      flex-direction: column;
      .why-choose-us-card {
        transition: background 0.2s ease-in-out;
        &:nth-child(1) {
          &:hover {
            background: $hover-bg-light-aqua;
          }
        }
        &:nth-child(2) {
          &:hover {
            background: $hover-bg-light-purple;
          }
        }
      }
    }
    .center-section {
      width:max-content;
      margin-top: 3.646vw;
      height: 100%;
      display: flex;
      gap: 2.604vw;
      display:flex;
      flex-direction: column;
      @media screen and (max-width: 899px) {
        margin-top: 0px;
      }
      .why-choose-us-card {
        transition: background 0.2s ease-in-out;
        &:nth-child(1) {
          &:hover {
            background: $hover-bg-light-blue;
          }
        }
        &:nth-child(2) {
          &:hover {
            background: $hover-bg-light-green;
          }
        }
      }
    }
  }

  .right-section {
    width: 31.25vw; /* 600px */
    height: 100%;
    @media screen and (max-width: 1499px) {
      width: 100%;
    }
    .section-title {
      margin-top: 7.292vw; /* 140px */
      color: #000;
      font-family: Poppins;
      font-size: 2.604vw; /* 50px */
      font-style: normal;
      line-height: 132%;
      font-weight: 600 !important;
    }
    .description {
      margin-top: 0.781vw; /* 15px */
      height: auto;
      padding-bottom: 0.260vw; /* 5px */
      color: #555;
      font-family: Poppins;
      font-size: 0.937vw; /* 18px */
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 90%;
      min-width: 19.792vw; /* 380px */
      @media screen and (max-width: 1499px) {
        text-align: left;
      }
    }
    .skills-set {
      margin-top: 1.625vw; /* 31px */
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.521vw; /* 10px */
      .skill {
        .title {
          margin-bottom: 0.260vw; /* 5px */
          color: #424242;
          font-family: Poppins;
          font-size: 1.146vw; /* 22px */
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        .rating {
          display: flex;
          gap: 0.729vw; /* 14px */
          img {
            width: 2.083vw; /* 40px */
            height: 2.083vw; /* 40px */
          }
        }
      }
    }
  }
}
