.rating-card {
  width: 367px;
  height: 198px;
  flex-shrink: 0;
  display: flex;
  padding: 39px;
  gap: 10px;
  border-radius: 53.333px 0px;
  .rating-card-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 5px;
    .rating {
      color: #000;
      font-family: Montserrat;
      font-size: 40px;
      font-style: normal;
      font-weight: 500;
      line-height: 38.921px;
    }
    .description {
      color: #000;
      font-family: Montserrat;
      font-size: 19.461px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px;
    }
  }
}
