.our-work-container {
  height: 100vh;
  display: flex;
  position: relative;
  background-position: center center;
  background-size: cover !important;
  flex-direction: column;
  transition: background 1s ease;
  overflow: hidden;
}

.shadow {
  position: absolute;
  background: linear-gradient(
    90deg,
    #000 0%,
    rgba(0, 0, 0, 0.5) 41%,
    rgba(0, 0, 0, 0) 100%
  );
  width: 50%;
  height: 100%;
}

.our-work-card-count {
  color: transparent;
  -webkit-text-stroke-width: 12.8px !important;
  -webkit-text-stroke-color: #fff !important;
  font-family: 'Poppins' !important;
  font-size: 17.88vw !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 140.22%; /* 756.814px */
  padding-left: 2vw;
}

.our-work-card-title {
  color: #fff;
  font-family: Poppins;
  font-size: 3.18vw;
  font-style: normal;
  padding-left: 5vw;
  z-index: 1;
  font-weight: 600;
  line-height: normal;
}

.our-work-card-description {
  color: #fff;
  font-family: Poppins;
  font-size: 1.25vw;
  z-index: 1;
  width: 50%;
  padding-left: 5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 141.667%;
}