.our-mobile-work-section {
  margin-top: 80px;
  padding: 0 16px;
  display: none;

  @media (max-width: 1099px) {
    display: block;
  }

  .about-our-company {
    .details {
      height: auto;
    }
  }

  .our-work-mobile {
    .image-wrapper {
      width: 100% !important;
      position: relative;
    }

    .our-work-image {
      width: 100%;
      height: auto;
    }

    .image-number {
      position: absolute;
      color: #fff;
      text-align: center;
      font-size: 62px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      top: 16px;
      left: 16px;
    }

    .image-wrapper-container {
      margin-top: 40px;
    }

    .details {
      .heading {
        color: #132427;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 16px;
        margin-bottom: 8px;
      }

      .subheading {
        color: #777;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  @media (max-width: 1200px) and (min-width: 600px) {
    .image-wrapper-container-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }

    .our-work-mobile {
      .our-work-image {
        width: 100%;
        height: auto;
      }
    }
  }
}
