.our-work-section {
  margin-top: 2.604vw;

  @media (max-width: 1099px) 
  {
      display: none;
      
  }

  .title {
    color: #132427;
    text-align: center;
    font-family: Inter !important;
    font-size: var(--font-size-40) !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: normal;
    letter-spacing: 0.005vw    !important;
  }

  .our-work-container {
    margin-top:3.125vw;


    .section-container {
      background: url("/our-work-container/ourwork1.webp") center center;
      background-size: cover;
      height: 30.208vw;
      width: 100%;
      display: flex;
      gap: 0.052vw;
      transition: background-image 0.5s ease-in-out;

      .work-details {
        border-left: 1px solid white;
        background-color: transparent;
        height: 100%;
        width: 100%;
        padding: 2.083vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        background: rgba(0, 0, 0, 0.563);
        transition: background 0.3s ease-in-out;

        &:hover {
          background: rgba(0, 0, 0, 0.8);
        }

        .work-content {
          justify-content: flex-end;
          height: 6.771vw;
          overflow: hidden;
          transition: height 1s;

          p {
      
            &:first-child {
              color: #fff;
              font-family: var(--global-font-family);
              font-size: 5.208vw;
              font-weight: 700;
              line-height: 4.948vw;
              text-align: left;
            }

            &:nth-child(2) {
              color: #fff;
              font-family: var(--global-font-family);
              font-size:var( --font-size-24);
              font-weight: 600;
              text-align: left;
            }

            &:nth-child(3) {
              color: #fff;
              font-family: var(--global-font-family);
              font-size: var( --font-size-18);
              font-weight: 500;
              text-align: left;
            }
          }
        }

        &:hover div {
          height: 60%;
        }
      }
    }
  }
}

// Responsive Styles
@media (max-width: 1450px) {
  .our-work-container {
    margin-top: 2.604vw    ;

    .section-container div {
      p:nth-child(2) {
        font-weight: 500;
      }

      p:nth-child(3) {
        font-weight: 300;
      }
    }
  }
}

@media (max-width: 1366px) and (min-width: 992px) {
  .our-work-container .section-container {
    height:26.042vw;

    div {
      p:nth-child(2) {
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 1200px) {
  .our-work-container {
    &.desktop {
      display: none;
    }
  }

  .our-work-container-mobile {
    display: block;

    .image-wrapper {
      width: 100% !important;
      position: relative;
    }

    .our-work-container-image {
      width: 100%;
      height: auto;
      transform: scaleX(1.09);
    }

    .image-number {
      position: absolute;
      color: #fff;
      text-align: center;
      font-size: 3.229vw;
      font-weight: 500;
      font-family: "Poppins";
      top: 0.833vw;
      left: 0.833vw;
    }

    .image-wrapper-container {
      margin-top: 2.083vw      ;
    }

    .details {
      .heading {
        color: #424242;
        font-family: var(--global-font-family);
        font-size: var(--font-size-18) !important;
        font-weight: 500;
        margin-top: 0.833vw ;
        margin-bottom: 0.417vw;
      }

      .subheading {
        color: #424242;
        font-family: var(--global-font-family);
        font-size: var( --font-size-14);
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 1200px) and (min-width: 600px) {
  .image-wrapper-container-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.833vw    ;
  }

  .our-work-container-mobile .our-work-container-image {
    width: 100%;
    height: auto;
    transform: scaleX(1);
  }
}
