.awardProofSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: max(80px, 6.25vw);
  margin-top: max(64px, 6.25vw);

  /* ---------------- Section Title ---------------- */

  .sectionTitle {
    @media screen and (max-width: 1037px) {
      font-size: 14px;
      width: 100%;
      padding: 16px;
    }
  }

  /* ---------------- Section Description ---------------- */

  .sectionDescription {
    margin-top: 0.781vw;
    padding-bottom: 0.26vw;
    width: 90%;
    min-width: 19.8vw;
    text-align: center;
    margin-bottom: max(48px, 4.5vw);

    @media screen and (max-width: 1037px) {
      font-size: 14px;
      width: 100%;
      padding: 16px;
      padding-top: 0;
    }
  }

  /* ---------------- Award Proof List ---------------- */

  .awardProofList {
    width: 100%;
    padding: 1% 7.8125%;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4.3vw;

    .cardWrapper {
      flex: 1;
      width: 18.23vw;
      min-width: 0;
    }

    @media screen and (max-width: 1499px) {
      gap: 12px;
      padding: 16px;
      justify-content: center;
    }

    @media screen and (max-width: 699px) {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      width: 100% !important;
      gap: 24px !important;

      .cardWrapper {
        flex: 0 0 100% !important;
        width: 100% !important;
        max-width: 100% !important;
      }
    }

    @media screen and (min-width: 700px) and (max-width: 1200px) {
      display: flex !important;
      flex-direction: row !important;
      flex-wrap: wrap !important;
      justify-content: center !important;
      gap: 24px !important;
      padding: 0 5% !important;

      .cardWrapper {
        flex: 0 0 calc(50% - 12px) !important;
        width: calc(50% - 12px) !important;
        max-width: calc(50% - 12px) !important;
      }
    }
  }

  /* ---------------- Mobile Padding ---------------- */

  @media screen and (max-width: 1037px) {
    padding: 0 7.8125%;
  }
}

@media screen and (max-width: 600px) {
  .awardProofSection {
    padding: 0 16px;
    padding-bottom: 60px;
    .sectionTitle {
      text-align: left !important;
      padding: 0;
    }

    .sectionDescription {
      text-align: left !important;
      padding: 0;
      margin-top: 16px;
    }
    .awardProofList {
      padding: 0;
      margin-top: 40px;
    }
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .awardProofSection {
    padding-bottom: 80px;
    .awardProofList {
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
}

@media (min-width: 901px) and (max-width: 1208px) {
  .awardProofSection {
    padding-bottom: 40px;
  }
}
