.contact-card {
  width: 100%;
  display: flex;
  gap: 1.042vw; // 20px
  margin-top: 1.25vw; // 24px
  margin-bottom: 1.25vw; // 24px

  .contact-card-image {
    width: 2.292vw; // 44px
    height: 2.292vw;
    flex-shrink: 0;
  }

  .title {
    color: white;
    font-family: Montserrat;
    font-size: var(--font-size-16); // 16px
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.025vw; // -0.48px
    margin-bottom: 0.26vw; // 5px
  }

  .description {
    color: white;
    font-family: Montserrat;
    font-size: var(--font-size-16); // 16px
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.025vw; // 0.48px
  }
}
