.positions {
  margin-top: 60px;
  width: 100%;
  height: 500px;
  border-radius: 20px;
  border: 2px solid #f5f5f5;
  background: var(--global-color-primary);
  display: flex;

  .left-section {
    padding-top: 30px;
    width: 380px;
    height: 498px;
    flex-shrink: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px 0px 60px 40px;
    border-radius: 20px 0 0 20px;



    .position {
      cursor: pointer;
      padding: 20px;
      font-feature-settings: "liga" off, "clig" off;
      font-family: Poppins;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px;
      width: 100%;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      color: #B2B7B8;

      &:hover {
        color: #132427;
      }
    }

    .selected {
      background: var(--global-color-primary);
      color: #eb7c0d;
      position: relative;
      // --r: 20px;
      // border-block: var(--r) solid #0000;
      // border-radius: var(--r) 0 0 var(--r)/calc(2*var(--r));
      // mask:
      //   radial-gradient(var(--r) at 0 var(--r), #0000 98%, #000 101%) 100% calc(-1*var(--r))/var(--r) 100% repeat-y,
      //   conic-gradient(#000 0 0) padding-box;

      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: #fff;
        top: -15px;
        right: 0;
        clip-path: polygon(47% 74%, 63% 61%, 76% 46%, 85% 33%, 92% 20%, 100% 0, 100% 40%, 100% 78%, 100% 100%, 0 100%, 18% 92%, 33% 84%);
      }

      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 15px;
        background-color: #fff;
        bottom: -12px;
        right: 0;
        clip-path: polygon(26% 17%, 16% 10%, 0 0, 100% 0, 100% 100%, 91% 82%, 84% 71%, 76% 60%, 65% 50%, 56% 41%, 46% 32%, 35% 23%);
      }

      &:hover {
        color: #eb7c0d;
      }
    }

  }

  .right-section {
    padding: 40px 60px;
    overflow: scroll;
    flex: 1;

    .department-title {
      color: #132427;
      font-feature-settings: "liga" off, "clig" off;
      font-family: Poppins;
      font-size: 30px;
      font-style: normal;
      font-weight: 600;
      line-height: 36px;
      text-transform: capitalize;
      margin-bottom: 10px;

      .chip-label {
        font-size: 11px;
        margin-left: 10px;
      }
    }

    .department-description {
      color: #757575;
      font-feature-settings: "liga" off, "clig" off;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 10px;
    }

    .skills-set-wrapper {
      margin-top: 30px;
      margin-bottom: 30px;
      background-color: var(--global-color-primary);
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .skills-container {
        width: calc(50% - 10px);
        display: flex;
        flex-direction: column;
        gap: 12px;

        .skills-title {
          color: #132427;
          font-feature-settings: "liga" off, "clig" off;
          font-family: Poppins;
          font-size: 18px !important;
          font-style: normal;
          font-weight: 600 !important;
          line-height: 28px;
        }

        .skills-description {
          color: #757575;
          font-feature-settings: "liga" off, "clig" off;
          font-family: Poppins;
          justify-content: start !important;
          font-size: 16px !important;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
        }

        .selected {
          background-color: var(--global-color-primary);
        }
      }
    }
  }
}