@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

/* ================= ROOT LAYOUT ================= */

.creative-ideas {
  width: 100%;
  background: #ffffff;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  overflow: hidden;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* ================= HANDS ================= */

.hand-fixed {
  width: 26.85vw;
  height: 42.58vw;
  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

/* ================= CONTENT ================= */

.creative-ideas-content {
  width: 29.25vw;
}

.creative-ideas-content p {
  margin: 0;
  font-family: 'Rubik Doodle Shadow', sans-serif;
  font-size: 4.5vw;
  line-height: 1.05;
  color: #3c3c3c;
  margin-left: -5.04vw;

}

.orange {
  color: #f9a91a;
}

.wow {
  font-size: 15vw !important;
  color: #f9a91a !important;
}

/* ================= SUBTITLE ================= */

.creative-ideas-subtitle {
  display: flex;
  margin-top: 12px;
}

.creative-ideas-subtitle p {
  font-size: 5vw;
  line-height: 1.05;
  margin: 0;
}

/* ================= MOBILE ================= */


@media (max-width: 600px) {

  .hand-fixed {
    aspect-ratio: 50 / 50;
  }

  .creative-ideas-content p{
    font-size: 6vw;
    width: max-content;
    margin-left: -7.54vw;
  } 

  .left{
    margin-bottom: 8rem;
    margin-left: -1rem;
  }
  .right{
    margin-right: -1rem;
  }

  .wow {
    font-size: 18vw !important;
    line-height: 1;
  }

  .creative-ideas {
    align-items: center; /* cross-axis */
    margin-bottom: 0rem;
  }
}
