.mobile-screen-container {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0.16vw 0.21vw;
  gap: 0.21vw;
  border-radius: 0.12vw;
  background: #fff;
  width: 4.1vw;
  height: 10vw;
  top: 13.1vw;
  border-radius: 8px;
  right: 4.55vw;
  z-index: 1;
  border: 1px solid red;
  transform-style: preserve-3d;
  transform: rotateX(24deg) rotateY(-7deg) rotateZ(1.45deg) skew(23.6deg, 172.5deg);
  .header {
    display: flex;
    align-items: center;
    padding: 0.16vw 0.21vw;
    .time {
      font-family: 'Work Sans';
      font-size: 0.3vw;
      font-style: normal;
      font-weight: 500;
    }
    .camera {
      height: 1vw;
      width: 1vw;
      background-color: aqua;
    }
  }
}
