.award-proof-card {
  height: 400px;
  position: relative;
  flex: 1;
  @media screen and (max-width: 1499px) {
    height: 380px;
  }
  img {
    position: absolute;
    width: 193px;
    height: 180px !important;
    top: -25%;
    left: 0;
    @media screen and (max-width: 1499px) {
      top: -30%;
      left: -20px;
    }
  }
  .award-card-content {
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--background);
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
    width: 342px;
    @media screen and (max-width: 1499px) {
      height: 300px;
      width: 260px;
    }
    @media screen and (max-width: 1105px) {
      width: 342px;
    }

    .title {
      margin-top: 25%;
      width: 100%;
      color: #424242;
      font-feature-settings:
        'liga' off,
        'clig' off;
      font-family: Poppins;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 30px;
    }
    .description {
      color: #757575;
      font-feature-settings:
        'liga' off,
        'clig' off;
      font-family: Poppins;
      font-size: 16px !important;
      font-style: normal;
      font-weight: 400 !important;
      line-height: 24px !important;
      text-align: left !important;
    }
  }
}

.award-proof-card:last-child img {
  margin-right: 100px !important;
}
