.appBarContainer {
  width: 100%;
  display: flex;
  align-items: center;
  top: 0;
  justify-content: space-between;
  padding: max(20px, 1.04%) 7.8125%;
  position: sticky;
  z-index: 1000;
}

.appBarIconContainer {
  height: max(71px, 3.75vw);
  width: max(74px, 3.85vw);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.appBarContactButton {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-size-16);
  font-style: normal;
  font-weight: 600;
  padding: max(13px, 0.67vw) max(16px, 0.83vw);
  border-radius: max(43px, 2.23vw);
  background: linear-gradient(75deg, #eb7c0d 4.02%, #ffa750 83.84%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  transition: all 0.3s ease;
  border: 1px solid transparent;

  &.active {
    border: max(1px, 0.08vw) solid #fff;
    box-shadow: 0 0 0.52vw rgba(235, 124, 13, 0.4);
  }
}

@media screen and (max-width: 1024px) {
  .appBarIconContainer {
    height: 48px;
    width: 48px;
  }
}

@media screen and (max-width: 720px) {
  .appBarContainer {
    background-color: #fff !important;
    height: 46px;
    filter: drop-shadow(0 4px 19.9px rgba(0, 0, 0, 0.1));
    padding: 0 16px;
  }

  .appBarContactButton {
    display: none;
  }

  .appBarIconContainer {
    height: 32px;
    width: 32px;
  }
}