.appBarContainer {
  width: 100%;
  display: flex;
  align-items: center;
  top: 0;
  justify-content: space-between;
  padding: max(14px, 0.73vw) 7.8125%;
  position: sticky;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &.transparent {
    background-color: transparent !important;
    box-shadow: none !important;
  }
}

.appBarIconContainer {
  height: max(52px, 2.71vw);
  width: max(53.59px, 2.79vw);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  svg {
    width: 100%;
    height: 100%;
  }
}

.appBarContactButton {
  color: #fff !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: max(14px, 0.83vw) !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: max(14px, 0.83vw) !important;
  letter-spacing: 0 !important;
  text-transform: uppercase !important;
  white-space: nowrap !important;
  height: 2.44em !important;
  padding: 0.55em 0.9em !important;
  border-radius: 0.33em !important;
  background: linear-gradient(75deg, #eb7c0d 4.02%, #ffa750 83.84%) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  border: none !important;
  outline: none !important;
  overflow: hidden !important;
  background-clip: padding-box !important;

  &.active {
    box-shadow: 0 0 0.52vw rgba(235, 124, 13, 0.4);
  }
}

@media screen and (max-width: 1024px) {
  .appBarIconContainer {
    height: 48px;
    width: 48px;
  }
}

@media screen and (max-width: 1000px) {
  .appBarContainer {
    background-color: #fff !important;
    height: 46px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    padding: 0 16px;

    &.open {
      position: fixed !important;
      top: 0 !important;
      left: 0 !important;
      right: 0 !important;
      width: 100% !important;
      z-index: 10000 !important;
      background-color: #FFFBF6 !important;
    }
  }

  .appBarContactButton {
    display: none;
  }

  .appBarIconContainer {
    height: 32px;
    width: 32px;
  }
}