.app-bar-container {
  background-color: transparent !important;
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.04% 7.8125% 0.523%;
    .logo {
      height: 9.375vh;
      width: 9.375vh;
      object-fit: contain;
      object-position: left;
      cursor: pointer;
    }

    .contact-button {
      color: #fff;
      font-family: Poppins, sans-serif;
      font-size: var(--font-size-16);
      font-style: normal;
      font-weight: 600;
      line-height: 0.9375vw;
      padding: max(13px, 0.67vw) max(14px, 0.83vw);
      border-radius: 2.23vw;
      background: linear-gradient(75deg, #eb7c0d 4.02%, #ffa750 83.84%);
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: capitalize;
    }
  }
}

@media screen and (max-width: 900px) {
  .logo {
    height: 42px;
    width: 42px;
  }
}

@media screen and (max-width: 600px) {
  .app-bar-container {
    background-color: #fff !important;
    filter: drop-shadow(0 4px 19.9px rgba(0, 0, 0, 0.1));
    .toolbar {
      min-height: 46px;
      height: 46px;
      .logo {
        height: 32px;
        width: 32px;
      }
    }
  }

  .menu-toggle-btn {
    position: absolute;
    right: 15px;
    outline: none;
    border: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
  }
}
