.app-bar-container {
  position: fixed;
  z-index: 100;
  background-color: transparent !important;
  button {
    font-size: 1.5rem !important;
    font-style: normal;
    font-weight: 400;
    font-family: Inter, sans-serif !important;
    line-height: 20.01px;
    padding: 10.005px 16.008px;
    border-radius: 43.022px;
    justify-content: center;
    align-items: center;
    color: #494848;
  }
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 150px;
    backdrop-filter: blur(2px);
    @media screen and (max-width: 1499px) {
      padding: 20px 50px;
    }
    img {
      cursor: pointer;
    }
  }
}
