.process-section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
  width: 100%;
  position: relative;
  padding: 5vw 0;
  padding-bottom: 0 !important;
  overflow: hidden;

  .process-visual-container {
    position: relative;
    width: 80vw;
    max-width: 55vw;
    /* 1200px */
    aspect-ratio: 956 / 604;
    height: auto;

    .process-svg {
      margin-top: 1.65vw;
      width: 100%;
      height: auto;
    }

    .process-node-text {
      position: absolute;
      width: 12vw;

      .title {
        font-family: Poppins, sans-serif;
        font-weight: 700;
        font-size: 1.15vw;
        line-height: 1.1;
        margin-bottom: 0.3vw;
      }

      .description {
        font-family: Poppins, sans-serif;
        font-weight: 500;
        font-size: 0.8vw;
        line-height: 1.3;
        color: #757575;
      }

      &:nth-of-type(2) {
        top: 28%;
        left: -12%;
        text-align: right;

        .title {
          color: #A263F5;
        }
      }

      &:nth-of-type(3) {
        top: -4%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        .title {
          width: max-content;
          color: #6CC77D;
        }
      }

      &:nth-of-type(4) {
        top: 25%;
        right: -14%;

        .title {
          color: #3C95DB;
        }
      }

      &:nth-of-type(5) {
        bottom: 18%;
        left: -23%;
        text-align: right;

        .title {
          color: #2EC2CC;
        }
      }

      &:nth-of-type(6) {
        bottom: 18%;
        right: -24%;

        .title {
          color: #FA579A;
        }
      }
    }
  }
}