.process-section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #fafafa;
  width: 100%;
  position: relative;
  padding: max(130px, 7vw) 0;
  padding-bottom: 0 !important;
  overflow: hidden;

  .process-visual-container {
    position: relative;
    width: 80vw;
    max-width: max(0px, 55vw);
    aspect-ratio: 956 / 604;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/ecllipse.svg');
    background-size: contain; /* key line */
    background-position: top; /* keep it centered */
    background-repeat: no-repeat;
    .process-visual-track {
      height: max(0, 40.17vw);
      width: max(0px, 40.69vw);
      z-index: -1;
      border-radius: 50%;
      top: 20%;
      left: 13%;
      border: 0.4vw solid #777777;
      position: absolute;
    }

    .process-item-icon {
      padding: max(16px, 0.83vw);
      border-radius: 50%;
      box-shadow: 0 0 max(30px, 1.56vw) rgba(186, 204, 219, 0.8);
      height: max(120px, 9vw);
      width: max(120px, 9vw);
      background-color: white;
      .circle {
        border-radius: 50%;
        padding: max(32px, 2.4vw);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .process-node-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: max(16px, 1.15vw);
        line-height: normal;
        margin-bottom: max(6px, 0.31vw);
      }

      .description {
        font-family: 'Montserrats', sans-serif;
        font-weight: 500;
        font-size: max(12px, 0.83vw);
        line-height: max(16px, 1.1vw);
        color: #757575;
      }
    }
  }
}

.process-node {
  position: absolute;
  display: flex;
  gap: max(16px, 1.6vw);
}

.meticulous-designing {
  flex-direction: column;
  top: -10%;
  left: 38.3%;
  align-items: center;
  justify-content: center;
  .process-node-text {
    width: max(180px, 13vw);
    text-align: center;
  }
}

.understanding-challenges {
  bottom: 10%;
  left: -20%;
  .process-node-text {
    width: 12vw;
    text-align: right;
  }
}

.systematic-planning {
  top: 28%;
  left: -10%;
  .process-node-text {
    width: 12vw;
    text-align: right;
  }
}

.authentic-execution {
  top: 28%;
  right: -10%;
  flex-direction: row-reverse;
  .process-node-text {
    width: 11vw;
    text-align: left;
  }
}

.reflect-refine {
  bottom: 10%;
  right: -15%;
  flex-direction: row-reverse;
  .process-node-text {
    width: 9vw;
    text-align: left;
  }
}
