.base-button {
  font-size: 1.6rem !important;
  text-transform: none !important;
  display: flex;
  height: 44.023px;
  gap: 4.002px;
  align-self: stretch;
  font-weight: 600 !important;
  color: var(--background) !important;
  padding: 10px 16px !important;
  background: linear-gradient(75deg, #eb7c0d 4.02%, #ffa750 83.84%);
  font-family: Inter !important;
}
