.base-button {
  font-size: var(--font-size-18) !important;
  text-transform: none !important;
  display: flex;
  align-self: stretch;
  font-weight: 600 !important;
  color: var(--global-color-primary) !important;
  padding: 0.677vw 1.875vw !important;
  background: linear-gradient(75deg, #eb7c0d 4.02%, #ffa750 83.84%);
  font-family: Poppins !important;
}
