.sectionImageContainer {
  position: relative;
}

.baseTreeContainer {
  width: max(300px, 30.88vw);
}

.iconContainer {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  aspect-ratio: 1;
}

@media screen and (max-width: 700px) {
  .sectionImageContainer{
    margin-top: 64px;
  }
}