.business-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;

  .heading {
    font-size: 40px;
    @media screen and (max-width: 1499px) {
      font-size: 36px !important;
    }
  }
  .description {
    margin-top: 0.521vw;
    text-align: center;
    margin-bottom: 2.5vw;
    width: 75%;
  }
  .business-card-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: max(16px, 2vw);
  }





}
