.hero-section-d {
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 0;
  position: relative;
  padding: 1% 7.8%;


  .hero-visual {
    flex: 1.2;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    z-index: 10;
    width: 100%;
    aspect-ratio: 1.5;

    .laptop-frame {
      width: 100%;
      height: auto;
      z-index: 2;
      scale: 1.8;

      .laptop-img {
        width: 34.01vw;
        height: 18.23vw;
        display: block;

        @media (max-width: 900px) {
          width: 100%;
          height: auto;
          scale: 0.5;
        }
      }
    }

    .floating-icon {
      position: absolute;
      width: 4.1vw;
      height: 4.1vw;
      min-width: 40px;
      min-height: 40px;
      background: white;
      border-radius: 0.94vw;
      background: #FFF;

      display: flex;
      justify-content: center;
      align-items: center;
      filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
      z-index: 3;
      padding: 0.8vw;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: max(40px, 3.125vw);
    text-align: left;
    z-index: 5;

    .text-container {
      text-align: left;
      display: flex;
      flex-direction: column;
      gap: 0.73vw;
      width: 100%;

      .heading {
        color: #3c3c3c !important;
        // white-space: nowrap;
        font-size: max(24px, 2.5vw) !important;
        font-family: 'Inter', sans-serif !important;
        font-weight: 700 !important;
        letter-spacing: 0.05vw;
        line-height: 1.2;
        opacity: 0;
        transform: none;
        min-width: max-content;
        filter: none;

        span {
          background: var(--global-color-gradient);
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: 700 !important;
        }
      }

      .description {
        color: var(--global-color-text) !important;
        font-family: 'Poppins', sans-serif !important;
        font-size: max(16px, 1.25vw) !important;
        font-weight: 400;
        opacity: 0;
        transform: none;
        filter: none;
      }
    }

    .button {
      width: max(180px, 9.375vw);
    }
  }
}

.decorator {
  position: absolute;
  top: -10%;
  right: -5%;
  width: 58.7vw;
  height: 45.71vw;
}
.decorator-2 {
  position: absolute;
  top: 25%;
  left: -38%;
  width: 58.7vw;
  height: 45.71vw;
  rotate: -100deg;
}


@keyframes fadeInScaleRotate {
  0% {
    opacity: 0.8;
    transform: translateY(50px) scale(0.95) rotateX(10deg);
  }

  60% {
    opacity: 0.9;
    transform: translateY(-10px) scale(1.02) rotateX(2deg);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1) rotateX(0deg);
  }
}

/* Slide Up & Fade In Animation */
@keyframes slideUpFadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.text-container .heading,
.text-container .description {
  opacity: 0;
  transform: translateY(2.6vw);
  visibility: hidden;
}

/* Apply Slide-Up Animation */
.text-container .heading {
  animation: slideUpFadeIn 0.8s ease-out forwards;
  animation-delay: 0.2s;
  visibility: visible;
}

.text-container .description {
  animation: slideUpFadeIn 0.8s ease-out forwards;
  animation-delay: 0.4s;
  visibility: visible;
}

@media screen and (max-width: 900px) {
  .decorator {
  position: absolute;
  top: 18%;
  right: 20%;
  width: 58.7vw;
  height: 45.71vw;
  scale: 2.4;
}
.decorator-2 {
  position: absolute;
  top: 25%;
  left: -40%;
  width: 58.7vw;
  height: 45.71vw;
  rotate: -100deg;
  scale: 1.5;
}
  .hero-section-d {
    flex-direction: column-reverse;
    height: auto;
    min-height: 100svh;
    padding-top: 46px;
    justify-content: center;

    .hero-visual {
      width: 100%;
      max-width: 500px;
      margin: 40px auto 0;
      aspect-ratio: 1.5;

      @media (max-width: 780px) {
        margin: auto;
      }

      .floating-icon {
        width: 45px;
        height: 45px;
        padding: 8px;
        border-radius: 8px;
      }
    }

    .ball-decorator {
      display: none;
    }

    .container {
      align-items: center;
      gap: 24px;

      .text-container {
        align-items: center;

        .heading {
          text-align: center;
          letter-spacing: -0.4px;
          line-height: 1.2;
          font-size: 28px !important;
          white-space: normal;
        }

        .description {
          margin-top: 12px;
          line-height: 1.5;
          letter-spacing: 0px;
          text-align: center;
          font-size: 16px !important;
        }
      }

      .button {
        width: 200px;
      }
    }
  }
}