.footer-section {
  position: relative;
  width: 100%;
  height: 745px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-color: #424242;
  background: linear-gradient(377deg, var(--global-color-primary) -35.26%, #444c 157.02%, #000 78.97%);
  &::before {
    content: '';
    position: absolute;
    top: 15%;
    right: 10%;
    width: 50%;
    height: 100%;
    background-image: url('/monk.png');
    background-size: 624.47px 605.938px;
    background-position: right center;
    background-repeat: no-repeat;
    z-index: 3;
    opacity: 1;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
      133deg,
      var(--global-color-primary) -35.26%,
      rgba(68, 68, 68, 0.8) -11.98%,
      #000 78.97%
    );
    z-index: 2;
    pointer-events: none;
  }

  > * {
    position: relative;
    z-index: 3;
  }
  .logo-category-wrapper {
    width: 100%;
    height: 825px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #c5c5c595;
    .logo-wrapper {
      @media (max-width: 1600px) {
      }
      .logo {
        width: 100%;
        height: 455px;
        object-fit: cover;
        flex-shrink: 0;

        @media (max-width: 1600px) {
          // max-width: 200px;
          object-fit: contain;
        }
        @media (max-width: 1499px) {
          width: 100%;
          height: 455px;
          display: none;
        }
      }

      p {
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        color: #fd8e38;
        -webkit-text-stroke-width: 0.36px !important;
        -webkit-text-stroke-color: #fd8e38 !important;
        font-family: 'News701 BT' !important;
        font-size: 65px;
        font-style: normal;
        font-weight: 900 !important;
        line-height: 0px;
        margin-top: -5px;
        margin-left: 20px;
      }
    }
    .category-wrapper {
      position: relative;
      flex: 1;
      max-width: max-content;
      .service-category-quick-links-wrapper {
        width: 100%;
        margin-top: 40px;
        margin-left: 50px;
        width: max-content;
        display: flex;
        .service-category {
          flex: 1;
          width: max-content;
          .title {
            color: var(--global-color-primary);
            font-feature-settings:
              'liga' off,
              'clig' off;
            font-family: Inter !important;
            font-size: 20px !important;
            font-style: normal;
            font-weight: 600;
            line-height: 22.046px;
            position: relative;
            display: inline-block;
            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: -4.06px;
              width: 100%;
              height: 2px;
              flex-shrink: 0;
              background: linear-gradient(90deg, #ec6738 0%, #494949 100%);
            }
          }

          .consulting-title {
            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: -2px;
              width: 105px;
              height: 2px;
              flex-shrink: 0;
              background: linear-gradient(90deg, #ec6738 0%, #494949 100%);
            }
          }

          .service-category-list {
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: repeat(5, auto);
            grid-auto-columns: 250px;
            gap: 7px;
            overflow-x: auto;
            margin-top: 20px;

            @media (max-width: 1499px) {
              grid-template-columns: repeat(4, 220px);
            }

            p {
              height: 20px;
              width: max-content;
              color: #ffffff;
              text-align: left;
              font-feature-settings:
                'liga' off,
                'clig' off;
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 300;
              line-height: 20px;
              cursor: pointer;
              transition: all 0.3s ease-in-out;
              &:hover {
                color: var(--global-color-primary);
              }
            }
          }
        }
        .quick-links {
          .title {
            color: var(--global-color-primary);
            font-feature-settings:
              'liga' off,
              'clig' off;
            font-family: Inter !important;
            font-size: 20px !important;
            font-style: normal;
            font-weight: 600;
            line-height: 22.046px;
            position: relative;
            display: inline-block;
            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: -4.06px;
              width: 100%;
              height: 2px;
              flex-shrink: 0;
              background: linear-gradient(90deg, #ec6738 0%, #494949 100%);
            }
          }

          .quick-link-list {
            display: grid;
            grid-template-rows: repeat(5, auto);
            grid-auto-flow: column;
            gap: 7px;
            margin-top: 20px;
            p {
              color: #ffffff;
              text-align: left;
              font-feature-settings:
                'liga' off,
                'clig' off;
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 300;
              line-height: 20px;
              cursor: pointer;
              transition: all 0.3s ease-in-out;
              &:hover {
                color: var(--global-color-primary);
              }
            }
          }
        }
      }
      .consulting-category-contact-wrapper {
        margin-top: 64px;
        margin-left: 50px;
        width: 100%;
        display: flex;
        .consulting-category {
          .title {
            color: var(--global-color-primary);
            font-feature-settings:
              'liga' off,
              'clig' off;
            font-family: Inter !important;
            font-size: 20px !important;
            font-style: normal;
            font-weight: 600;
            line-height: 22.046px;
            position: relative;
            display: inline-block;
            &::after {
              content: '';
              position: absolute;
              left: 0;
              bottom: -4.06px;
              width: 100%;
              height: 2px;
              flex-shrink: 0;
              background: linear-gradient(90deg, #ec6738 0%, #494949 100%);
            }
          }
          .consulting-title {
            &::after {
              width: 105px;
            }
          }

          .consulting-category-list {
            display: grid;
            grid-template-rows: repeat(5, auto);
            grid-template-columns: repeat(auto-fill, 250px);
            grid-auto-flow: column;
            gap: 7px;
            margin-top: 20px;
            p {
              width: 210px;
              color: #ffffff;
              text-align: left;
              font-feature-settings:
                'liga' off,
                'clig' off;
              font-family: Inter !important;
              font-size: 16px;
              font-style: normal;
              font-weight: 300;
              line-height: 20px;
              cursor: pointer;
              transition: all 0.3s ease-in-out;
              &:hover {
                color: var(--global-color-primary);
              }
            }
          }
        }
        .contact {
          margin-left: 45px;
          display: flex;
          gap: 54px;
          justify-content: space-between;
          .subscribe-section {
            .title {
              color: var(--global-color-primary);
              font-feature-settings:
                'liga' off,
                'clig' off;
              font-family: Inter !important;
              font-size: 20px !important;
              font-style: normal;
              font-weight: 600;
              line-height: 22.046px;
              position: relative;
              display: inline-block;
              &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 85px;
                height: 2px;
                flex-shrink: 0;
                background: linear-gradient(90deg, #ec6738 0%, #494949 100%);
              }
            }
            .heading {
              margin-top: 18px;
              color: var(--global-color-primary);
              font-feature-settings:
                'liga' off,
                'clig' off;
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 300;
              line-height: 22px;
            }
            .email {
              margin-top: 12px;
              display: flex;
              width: 100%;
              justify-content: start;
              background-color: var(--global-color-primary);
              border-radius: 6px;
              overflow: hidden;
              .input-field {
                flex: 1;
                width: 215px;
                height: 42px;
                background-color: var(--global-color-primary);
                border-radius: 6px;
                padding: 10px !important;
                padding-right: 10px;
                box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.1);
                color: #000000;
                font-feature-settings:
                  'liga' off,
                  'clig' off;
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: 22px;
                .input {
                  padding: 0px !important;
                }
              }
              .submit-button {
                margin-top: 5px;
                margin-right: 5px;
                padding-top: 10px;
                width: 79px;
                height: 32px;
                color: var(--global-color-primary);
                font-size: 12.4px;
                font-style: normal;
                font-weight: 300;
                border-radius: 6px;
                background: #ec6738;
                background: linear-gradient(
                  75deg,
                  #eb7c0d 4.02%,
                  #ffa750 83.84%
                );
              }
            }
          }
          .social-media-link {
            .title {
              color: var(--global-color-primary);
              font-feature-settings:
                'liga' off,
                'clig' off;
              font-family: Inter !important;
              font-size: 20px !important;
              font-style: normal;
              font-weight: 600;
              line-height: 22.046px;
              position: relative;
              display: inline-block;
              &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 85px;
                height: 2px;
                flex-shrink: 0;
                background: linear-gradient(90deg, #ec6738 0%, #494949 100%);
              }
            }
            .social-media-list {
              margin-top: 16px;
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              gap: 10px;
              padding: 10px;
              padding-left: 0px;
            }
          }
        }
      }
    }
  }

  .header {
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #c5c5c595;
    .logo-wrapper {
      margin-left: 100px;

      .logo {
        width: 128px;
        height: 156px;
        flex-shrink: 0;
      }

      p {
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        color: #fd8e38;
        -webkit-text-stroke-width: 0.36px !important;
        -webkit-text-stroke-color: #fd8e38 !important;
        font-family: 'News701 BT' !important;
        font-size: 23px;
        font-style: normal;
        font-weight: 900 !important;
        line-height: 0px;
        margin-top: -5px;
      }
    }

    .branding {
      color: var(--global-color-primary);
      width: 45%;
      margin-top: 57px;
      text-align: center !important;
      font-family: 'Poppins', sans-serif;
      font-variant-ligatures: none;
      font-feature-settings:
        'liga' 0,
        'clig' 0;
      text-rendering: optimizeLegibility;
      font-size: 18px;
      font-style: normal;
      font-weight: 300 !important;
      line-height: 30px;
      @media screen and (max-width: 1499px) {
        width: 80%;
      }
    }
  }
  .copyright {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 19px;
    p {
      color: var(--global-color-primary);
      font-feature-settings:
        'liga' off,
        'clig' off;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
    }
  }
}
