.odometer-section {
  margin-top: 135px;
  width: 100%;
  background: url('/earth.webp');
  background-size: cover;
  background-position: 0 0%;
  padding: 0 10%;
  color: var(--global-color-primary);
  position: relative;
  padding-bottom: 50px;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.618);
    z-index: 1;
  }

  > * {
    position: relative;
    z-index: 2;
  }
  .odometer-content-wrapper {
    height: 100%;
    display: flex;
    padding-top: 60px;
    box-sizing: border-box;
    gap: 15px;
    justify-content: center;
    @media screen and (max-width:1499px) {
      padding: 12px;
      padding-bottom: 50px;
    }
    .left-section {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-right: 50px;
      .heading {
        width: 100%;
        letter-spacing: 0.9px;
        display: flex;
        font-family: Inter !important;
        font-size: 40px;
        font-style: normal;
        font-weight: 700 !important;
        line-height: normal;
        width:max-content;
        @media screen and (max-width:1499px) {
          font-size: 36px;
        }
      }
      .teams-number {
        letter-spacing: 2px;
        margin-top: 32px;
        width: 100%;
        font-family: Inter;
        font-size: 80px;
        display: flex;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        @media screen and (max-width:1499px) {
          font-size: 50px;
          width:max-content;
        }
      }
      .description {
        margin-top: 28px;
        width: 100%;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    .center-section {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 32px;
      .countries-section {
        display: flex;
        flex-direction: column;
        gap: 11px;
        border-left: 2px solid var(--global-color-primary);
        padding-left: 30px;
        padding-right: 70px;
        .countries-number {
          color: var(--global-color-primary);
          font-family: Inter !important;
          font-size: 60px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          @media screen and (max-width:1499px) {
            font-size: 50px;
            width:max-content;
          }
        }
        .description {
          width: 261px;
          color: var(--global-color-primary);
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
      .companies-section {
        border-left: 2px solid var(--global-color-primary);
        padding-left: 30px;
        padding-right: 70px;
        display: flex;
        flex-direction: column;
        gap: 11px;
        .companies-number {
          color: var(--global-color-primary);
          font-family: Inter !important;
          font-size: 60px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          @media screen and (max-width:1499px) {
            font-size: 50px;
            width:max-content;
          }
        }
        .description {
          width: 261px;
          color: var(--global-color-primary);
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
    .right-section {
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 32px;
      .countries-section {
        display: flex;
        flex-direction: column;
        gap: 11px;
        border-left: 2px solid var(--global-color-primary);
        padding-left: 30px;
        .countries-number {
          color: var(--global-color-primary);
          font-family: Inter !important;
          font-size: 60px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          @media screen and (max-width:1499px) {
            font-size: 50px;
            width:max-content;
          }
        }
        .description {
          width: 261px;
          color: var(--global-color-primary);
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
      .companies-section {
        border-left: 2px solid var(--global-color-primary);
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        gap: 11px;
        .companies-number {
          color: var(--global-color-primary);
          font-family: Inter !important;
          font-size: 60px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          @media screen and (max-width:1499px) {
            font-size: 50px;
            width:max-content;
          }
        }
        .description {
          width: 261px;
          color: var(--global-color-primary);
          font-family: Inter;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
  }
}

@media (max-width: 1499px) {
  .odometer {
    margin-top: 50px;
  }

  .odometer-section {
    padding: 0px !important;
    padding-top: 60px !important;
  }
}
