.howWeWorkHeroSectionWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8.125vw 10% 6.25vw 7.8%;
  gap: 6vw;
  height: 95vh;

  .heroSection {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;

    .heroSectionTextWrapper {
      text-align: left;
      display: flex;
      flex-direction: column;
      width: 100%;

      .textHeading {
        color: #132427;
        font-family: 'Poppins', sans-serif;
        font-size: max(40px, 3.125vw);
        font-style: normal;
        font-weight: 600 !important;
        line-height: max(44.53px, 3.6vw);
        text-transform: capitalize;
        margin-bottom: max(16px, 0.83vw);
        br {
          @media (max-width: 1195px) {
            display: none;
          }
        }
      }

      .textHeading span {
        background: var(--global-color-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 600 !important;
      }

      .textDescription {
        color: #757575;
        font-family: 'Poppins', sans-serif;
        font-size: max(16px, 1.25vw);
        font-style: normal;
        font-weight: 400;
        line-height: max(25px, 1.97vw);
        letter-spacing: 3%;
      }
    }
  }

  .topHorizontalDottedImage {
    position: absolute;
    top: -3%;
    right: 22%;
    z-index: -10;
    transform: rotate(90deg);
    height: 14.96vw;
  }

  .bottomHorizontalDottedImage {
    position: absolute;
    left: 10.5%;
    top: 13.55%;
    transform: rotate(90deg);
    height: 14.96vw;
  }

  .verticalDottedImage {
    position: absolute;
    left: -0.42vw;
    top: 7.08vw;
    z-index: -10;
    width: 8.02vw;
    height: 13.96vw;
  }
}

@media screen and (max-width: 767px) {
  .howWeWorkHeroSectionWrapper {
    padding: 0;
    gap: 46px;
    margin: 0;
    flex-direction: column-reverse;
    margin-top: 80px;
    aspect-ratio: unset;
    height: auto;

    .heroSection {
      padding: 0 16px;
      width: 100%;

      .heroSectionTextWrapper {
        max-width: 100%;
        width: 100%;

        .textHeading {
          font-size: 28px;
          line-height: 31px;
          text-align: center;
        }

        .textDescription {
          font-size: 16px;
          margin-bottom: 40px;
          text-align: center;
          margin-top: 10px;
        }
      }
    }

    .topHorizontalDottedImage,
    .verticalDottedImage {
      display: none;
    }
  }
}

@media (min-width: 901px) and (max-width: 1152px) {
  .howWeWorkHeroSectionWrapper {
    gap: 16px;
    height: auto;
    width: 1;
    aspect-ratio: 1.83;
    .heroSection {
      padding: 0px;

      .heroSectionTextWrapper {
        max-width: 100%;

        .textDescription {
          font-size: 16px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .howWeWorkHeroSectionWrapper {
    gap: 40px;
    height: auto;
    width: 1;
    aspect-ratio: 1.83;
    .heroSection {
      flex: 1;
      .heroSectionTextWrapper {
        max-width: 100%;

        .textHeading {
          font-size: 32px;
          line-height: 40px;
        }
        .textDescription {
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
  }
}