.whyChooseUs {
  margin: auto;
  margin-top: 6.25vw;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
}

.title {
  margin-bottom: max(16px, 1.04vw);
}

.description {
  margin: auto;
  max-width: 70%;
  text-align: center;
  margin-top: max(16px, 1.25vw);
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  row-gap: 40px;
  column-gap: 40px;
  margin-top: max(40px, 4vw);
  justify-content: center;
  background: transparent;
}

.sectionBachground {
  position: absolute;
  left: 0;
}

@media screen and (max-width: 1100px) {
  .whyChooseUs {
    margin-top: 60px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .description {
    max-width: 100%;
  }

  .listContainer {
    row-gap: 40px;
    column-gap: 40px;
  }
}

@media screen and (max-width: 600px) {
  .whyChooseUs {
    margin-top: 40px;
  }

  .description {
    margin-top: 16px;
    margin-bottom: 24px;
    font-size: 16px;
  }

  .sectionBachground {
    display: none; // Hide absolute bg on mobile if it causes issues
  }
}