.whyChooseUs {
  margin: auto;
  margin-top: 6.25vw;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
}

.title {
  margin-bottom: 1.04vw;
}

.description {
  margin: auto;
  max-width: 70%;
  text-align: center;
  margin-top: 1.25vw;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 2.08vw;
  margin-top: 4vw;
  justify-content: space-between;
  background: transparent;
}

.sectionBachground {
  position: absolute;
  left: 0;
}

@media screen and (max-width: 600px) {
  .whyChooseUs {
    margin-top: 80px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .description {
    margin-top: 16px;
    max-width: 100%;
    margin-bottom: 40px;
  }

  .sectionBachground{
    width: 100%;
    z-index: -1;
    margin-top: 40svh;
  }
}
