.why-choose-us {
  margin: auto;
  margin-top: 6.25vw;
  padding: 0px 2.08vw;

  .title {
    margin-bottom: 1.04vw;
  }
  .desc {
    margin: auto;
    max-width: 75%;
    text-align: center;
    margin-bottom: 1.04vw;
  }
}
