.why-choose-us {
  margin: auto;
  margin-top: 120px;
 padding: 0px 40px;

  .title {
    margin-bottom: 20px;
  }
  .desc {
    color: #757575;
    max-width: 1174px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    text-align: center;
  }
}
