.form-title {
  margin-top: 1.04vw !important; // 20px
  width: 28.65vw; // 550px
  margin-bottom: 0.52vw !important; // 10px
  color: #132427;
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-family: Poppins;
  font-size: var(--font-size-16) !important; // 16px
  font-style: normal;
  font-weight: 400 !important;
  line-height: 1.56vw !important; // 30px
}
