.sectors {
  // width: fit-content;
  margin-top: 60px;
  height: 530px;
  border-radius: 20px;
  border: 2px solid #f5f5f5;
  box-sizing: border-box;
  background: var(--global-color-primary);
  display: flex;

  .left-section {
    width: 380px;
    height: 528px;
    flex-shrink: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    padding: 54px 0px 54px 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-sizing: border-box;

    @media (max-width: 1499px) {
      width: 300px;
      padding: 30px 0px 30px 30px;
    }

    .sector {
      cursor: pointer;
      padding: 20px;
      font-feature-settings:
        'liga' off,
        'clig' off;
      font-family: Poppins;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px;
      width: 100%;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;

      @media (max-width: 1499px) {
        font-size: 18px;
      }
    }

    .selected {
      background: var(--global-color-primary);
      color: #eb7c0d;
      position: relative;
      // --r: 20px;
      // border-block: var(--r) solid #0000;
      // border-radius: var(--r) 0 0 var(--r)/calc(2*var(--r));
      // mask:
      //   radial-gradient(var(--r) at 0 var(--r), #0000 98%, #000 101%) 100% calc(-1*var(--r))/var(--r) 100% repeat-y,
      //   conic-gradient(#000 0 0) padding-box;

      &::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: #fff;
        top: -15px;
        right: 0;
        clip-path: polygon(47% 74%, 63% 61%, 76% 46%, 85% 33%, 92% 20%, 100% 0, 100% 40%, 100% 78%, 100% 100%, 0 100%, 18% 92%, 33% 84%);
      }

      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 15px;
        background-color: #fff;
        bottom: -12px;
        right: 0;
        clip-path: polygon(26% 17%, 16% 10%, 0 0, 100% 0, 100% 100%, 91% 82%, 84% 71%, 76% 60%, 65% 50%, 56% 41%, 46% 32%, 35% 23%);
      }

    }
  }

  .right-section {
    padding: 40px 85px;
    // width: 100%;
    width: fit-content;
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    column-gap: 30px;

    @media (max-width: 1499px) {
      padding: 20px;
    }

    .services {
      flex-direction: row;
      align-items: center;
      width: 420px;
      height: 120px;
      flex-shrink: 0;
      border-radius: 20px;
      border: 1px solid #e3dbd8;
      background: #fff;
      box-sizing: border-box;
      padding: 20px 5px 20px 30px;
      gap: 30px;

      @media (max-width: 1499px) {
        width: 320px;
        padding: 20px 5px 20px 10px;
        gap: 20px;
      }

      .service-title {
        color: #132427;
        font-feature-settings:
          'liga' off,
          'clig' off;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;

        @media (max-width: 1499px) {
          font-size: 18px;
        }
      }
    }
  }
}
